@model List<SmartB.UI.Models.EntityFramework.LogFile>

@{
    ViewBag.Title = "Smart Buy | Quản lý log files";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Trang chủ
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("Index", "LogFile")">Quản lý log file</a>
            </li>
        </ul>

        <h1 id="main-heading">
            Quản lý log file
            <span>File ghi lại dữ liệu sau mỗi lần chạy parser</span>
        </h1>
    </div>
}

@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-hovered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Ngày chạy</th>
                <th>Giờ chạy</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].CreatedTime.Value.ToShortDateString()</td>
                    <td>@Model[i].CreatedTime.Value.ToShortTimeString()</td>
                    <td>
                        <a href="@Url.Content("~/Areas/Admin/LogFiles/" + Model[i].FileName)" target="_blank">Xem</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Không có log file!</h2>
}
