@model SmartB.UI.Models.CartViewModel

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section head
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/utils/productUtils.js")"></script>

    <!-- Metro -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>
    <link href="@Url.Content("~/Content/Order.css")" rel="stylesheet" type="text/css" />

}

<div class="bgSizeCover">
    <div id="Contain">
        <div class="ProductDetail">
            <div class="Tools">
                <div class="Left">
                    <ul class="SortTool">
                        <li style="padding: 8px 30px; cursor: auto; background-color: #3399FF; color: white !important;">
                            <a style="color:white" href="@Url.Action("Index", "Home")">Trang chủ</a>
                            @*<span class="arrowFilter-left"></span>*@
                        </li>
                        <li style="padding: 8px 30px; cursor: auto;">Chi tiết giỏ hàng
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>

            <div class="main-content" style="padding: 60px 20px 20px; min-height: 560px;">
                <div id="order-detail-table">
                    @if (Model != null)
                    {
                        <div style="font-weight: bold; text-align: right">*Đơn vị tính Nghìn đồng.</div>
                        <table class="table table-bordered table-hover" id="tableViewCart">
                            <thead>
                                <tr>
                                    <th style="width: 5%">STT</th>
                                    <th style="width: 60%">Tên sản phẩm</th>
                                    <th style="width: 15%">Đơn giá</th>
                                    <th style="width: 10%">Số lượng</th>
                                    <th style="width: 10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var line in Model.Cart.Lines)
                                {
                                    i++;          
                                    <tr>
                                        <td>@i</td>
                                        <td>@line.Product.Product.Name</td>
                                        <td>@line.Product.MinPrice - @line.Product.MaxPrice</td>
                                        <td>
                                            <div class="metro">
                                                <div class='input-control text size1'>
                                                    <input type="text" maxlength="2" style="text-align:center" value="@line.Quantity" id="quantityItem @line.Product.ProductId"  onblur="updateQuantityCart('@line.Product.ProductId')"/>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="metro">
                                                <button onclick="removeFromCart('@line.Product.ProductId')">
                                                    <i class="icon-cancel-2"></i>
                                                    Xóa
                                                </button>
                                            </div>
                                        </td>
                                    </tr> 
                                }
                            </tbody>
                            <tr>
                                <th colspan="5" align="right" style="text-align: right;font-size: 18px;">Tổng tiền: <span style="font-weight: bold" id="order-total-detail">@Math.Floor(Model.Cart.ComputeTotalMin()) - @Math.Floor(Model.Cart.ComputeTotalMax())</span> (nghìn đồng)
                                </th>

                            </tr>
                        </table>
                        <div class="stylish-button" id="btn-submit-order">
                            <a href="@Url.Action("SaveCart", "Cart")">
                                <i class="icon-save"></i>
                                Lưu lại
                            </a>
                        </div>
                                if (User.Identity.IsAuthenticated)
                                {
                        <div class="stylish-button" style="background-color: #FFCC00">
                            <a href="@Url.Action("SuggestRoute", "Route")">
                                <i class="icon-lightbulb"></i>
                                Gợi ý
                            </a>
                        </div>
                                }
                    }
                    else
                    {
                        <div id="no-item-in-order">
                            <span style="color: red; font-style: italic; font-size: 16px;">(*) Không có sản phẩm nào trong giỏ hàng.</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#order-summary").hide();
    });
</script>
