@model SmartB.UI.Models.CartViewModel

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section head
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/utils/productUtils.js")"></script>

    <!-- Metro -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>
}

<div id="top-image" class="top-image1">
    <div class="container">
        <div id="top-image-caption">
            <h2>Thông tin giỏ hàng</h2>
        </div>
    </div>
</div>

<div id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <p>Thông tin giỏ hàng</p>
                    </li>
                </ul>
            </div>

            <div class="span4">
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container fadeDown">
        @if (Model != null)
        {
            <table class="table table-bordered table-hover" id="tableViewCart">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá (nghìn đồng)</th>
                        <th>Số lượng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{var i = 0;}
                    @foreach (var line in Model.Cart.Lines)
                    {
                        i++;          
                        <tr>
                            <td>@i</td>
                            <td>@line.Product.Product.Name</td>
                            <td>@line.Product.MinPrice - @line.Product.MaxPrice</td>
                            <td>
                                <div class="metro">
                                    <div class='input-control text size1'>
                                        <input type="text" style="text-align:center" value="@line.Quantity" id="quantityItem @line.Product.ProductId"  onblur="updateQuantityCart('@line.Product.ProductId')"/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="metro">
                                    <button onclick="removeFromCart('@line.Product.ProductId')">
                                        <i class='icon-cancel-2'></i>
                                        Xóa
                                    </button>
                                </div>
                            </td>
                        </tr> 
                    }
                </tbody>
                <tr>
                    <td colspan="5" align="right">Tổng tiền: @Math.Floor(Model.Cart.ComputeTotalMin()) - @Math.Floor(Model.Cart.ComputeTotalMax()) (nghìn đồng)
                    </td>

                </tr>
            </table>
            <div class="stylish-button">
                <a href="@Url.Action("SaveCart", "Cart")">
                    <i class="icon-save"></i>
                    Lưu lại
                </a>
            </div>
                    if (User.Identity.IsAuthenticated)
                    {
            <div class="stylish-button" style="background-color: #FFCC00">
                <a href="@Url.Action("SuggestRoute", "Route")">
                    <i class="icon-lightbulb"></i>
                    Gợi ý
                </a>
            </div>
                    }
        }
        else
        {
            <div>
                <span style="color: red; font-style: italic; font-size: 16px;">(*) Không có sản phẩm nào trong giỏ hàng.</span>
            </div>
        }
    </div>
</div>
