<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/bootstrap/css/bootstrap.min.css")" media="screen" />

    <!-- jquery-ui Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/css/jquery.ui.all.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/jquery-ui.custom.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/timepicker/jquery-ui-timepicker.css")" media="screen" />

    <!-- Uniform Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/plugins/uniform/css/uniform.default.css")" />

    <!-- Main Layout Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/assets/css/fonts/icomoon/style.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/assets/css/mooncake.min.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/assets/css/plugins/plugins.min.css")" media="screen" />

    <!-- Core Scripts -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/js/libs/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/js/libs/jquery.placeholder.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/js/libs/jquery.mousewheel.min.js")"></script>

    @RenderSection("headScript", false)

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <title>@ViewBag.Title | Smart Buy</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div id="wrapper">
        <header id="header" class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand-wrap pull-left">
                        <div class="brand-img">
                            <a class="brand" href="#">
                                @*<img src="@Url.Content("~/Template/Stylish/images/Logo.png")" alt="" width="117" height="23" />*@
                            </a>
                        </div>
                    </div>

                    <div id="header-right" class="clearfix">
                        <div id="header-functions" class="pull-right">
                            <div id="user-info" class="clearfix">
                                <span class="info">Welcome
                                    <span class="name">@User.Identity.Name</span>
                                </span>
                            </div>
                            <div id="logout-ribbon">
                                <a href="@Url.Action("LogOff", "Authentication")"><i class="icon-off"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="content-wrap">
            <div id="content">
                <div id="content-outer">
                    <div id="content-inner">
                        @RenderSection("sidebar", true)

                        <div id="sidebar-separator"></div>

                        <section id="main" class="clearfix">
                            @RenderSection("mainHeader", true)
                            <div id="main-content">
                                @RenderBody()
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="footer-left">SmartBuy - Responsive Admin Template</div>
            <div class="footer-right">
                <p>Copyright 2014. All Rights Reserved.</p>
            </div>
        </footer>

    </div>

    <!-- Template Script -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/js/template.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/js/setup.js")"></script>

    <!-- Uniform Script -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/plugins/uniform/jquery.uniform.min.js")"></script>

    <!-- jquery-ui Scripts -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/js/jquery-ui-1.8.24.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/jquery-ui.custom.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/timepicker/jquery-ui-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/assets/jui/jquery.ui.touch-punch.min.js")"></script>

    @RenderSection("footScript", false)
</body>

</html>
