@model IEnumerable<SmartB.UI.Models.SuggestRouteModel>

@{
    ViewBag.Title = "Gợi ý";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    int counter = 0;
    var markets = Model.Select(x => new { x.MarketName, x.Latitude, x.Longitude }).Distinct().ToList();
}

@section head
{
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmQi6XuUHARe_gzLWFpKWzZSu34ZaWv1Q&sensor=false"></script>
    <!-- Metro -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Metro/css/jquery.dataTables.css")">
    <script type="text/javascript" src="@Url.Content("~/Metro/js/jquery/jquery.dataTables.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Metro/css/jquery.dataTables_themeroller.css")">
    <link href="@Url.Content("~/Content/Order.css")" rel="stylesheet" type="text/css" />

    <script>
        $(document).ready(function () {
            var table = $('#ProductTable').dataTable();
            if ($("#order-total").load("../Cart/ViewCart #order-total-detail").text() != "") {
                $("#order-summary").show();
            }
        });
</script>
    <script type="text/javascript">
        var map, directionsService, directionsDisplay;
        var str = '@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Route))';
        var data = eval('(' + str + ')');

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(10.791658, 106.658163),
                zoom: 12
            };
            map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            directionsDisplay = new google.maps.DirectionsRenderer({ 'suppressMarkers': true });
            directionsDisplay.setMap(map);
            directionsService = new google.maps.DirectionsService();

            var wp = get_waypoints();
            set_route(data, wp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function set_route(data, wp) {
            var startMarker = new google.maps.Marker({
                position: new google.maps.LatLng(data.start.lat, data.start.lng),
                map: map,
                icon: '@Url.Content("~/Images/Marker/Shopping.png")',
                title: 'Nơi xuất phát',
                animation: google.maps.Animation.DROP
            });
            
            var endMarker = new google.maps.Marker({
                position: new google.maps.LatLng(data.end.lat, data.end.lng),
                map: map,
                icon: '@Url.Content("~/Images/Marker/Home.png")',
                title: 'Nơi kết thúc',
                animation: google.maps.Animation.DROP
            });

            draw_markets();

            var request = {
                origin: new google.maps.LatLng(data.start.lat, data.start.lng),
                destination: new google.maps.LatLng(data.end.lat, data.end.lng),
                waypoints: wp,
                travelMode: google.maps.TravelMode.DRIVING,
                optimizeWaypoints: true
            };
            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);
                }
            });
        }

        function draw_markets() {
            var marker;
            @foreach (var market in markets)
            {
                if (market.MarketName != "")
                {
<text>
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(@market.Latitude, @market.Longitude),
                map: map,
                icon: '@Url.Content("~/Images/Marker/Market.png")',
                title: '@Html.Raw(HttpUtility.HtmlDecode(market.MarketName))',
                animation: google.maps.Animation.DROP
            });
</text>
                }
            }
        }

        function get_waypoints() {
            var wp = [];
            var point;
            @foreach (var item in markets)
            {
                if (item.MarketName != "")
                {
                    <text>
            point = { 'location': new google.maps.LatLng(@item.Latitude, @item.Longitude), 'stopover': true };
            wp.push(point);
                    </text>
                }
            }
            return wp;
        }
    </script>
}

<div class="bgSizeCover">
    <div id="Contain" class="bgContainCover">
        <div class="ProductDetail">
            <div class="Tools">
                <div class="Left">
                    <ul class="SortTool">
                        <li style="cursor: auto; background-color: #3399FF; color: white !important;">
                            <a style="color:white" href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li style="cursor: auto;">Gợi ý cách mua hàng.
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>


        <div class="main-content" style="padding: 60px 20px 20px; min-height: 560px;">
            <div style="min-height: 700px;">

                @using (Html.BeginForm("SuggestRoute", "Route"))
                {
                    <div class="ProductNameDetail" style="margin-bottom: 10px;">Chọn đường đi</div>
                    <div class="row">
                        <div class="span3" style="width: inherit">
                            @Html.DropDownList("Routes")
                        </div>
                        <div class="span2">
                            <div class="metro">
                                <button type="submit" class="primary">
                                    <i class="icon-checkmark"></i>
                                    Chọn
                                </button>
                            </div>
                        </div>
                    </div>                    
                }
                
                @if (Model.Any())
                {
                    <div style="float: right;margin-bottom: -20px;font-weight: bold;">*Đơn vị tính Nghìn đồng</div>
                    <table id="ProductTable" class="table table-bordered table-hover" style="background: white">
                        <thead>
                            <tr class="bg-header">
                                <th style="width: 10%;text-align:center">STT</th>
                                <th style="width: 40%;text-align:center">Tên sản phẩm</th>
                                <th style="width: 30%;text-align:center">Tên chợ</th>
                                <th style="width: 20%;text-align:center">Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                counter++;
                                <tr>
                                    <td style="text-align:center">@counter</td>
                                    <td>@item.ProductName</td>
                                    <td>
                                        @if (item.MarketName != "")
                                        {
                                            <span>@item.MarketName</span>
                                        }
                                        else
                                        {
                                            <span>Không tìm thấy</span>
                                        }
                                    </td>
                                    <td style="text-align:center">
                                        @if (item.MarketName != "")
                                        {
                                            <span>@item.Price</span>
                                        }
                                        else
                                        {
                                            <span>@item.MinPrice - @item.MaxPrice</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <div class="google-map fadeDown">
                    <div id="map-canvas" />
                </div>
            </div>
        </div>
    </div>
</div>
