@model SmartB.UI.Areas.Admin.Models.ConfigurationModel

@{
    ViewBag.Title = "ConfigureSystem";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
}

@section sidebar
{
    <aside id="sidebar">
        <nav id="navigation" class="collapse">
            <ul>
                <li class="active">
                    <span title="General">
                        <i class="icon-home"></i>
                        <span class="nav-title">Trang chủ</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("ConfigureSystem", "System")">
                                <i class="icol-cog"></i>
                                Cấu hình hệ thống
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Data">
                        <i class="icon-table"></i>
                        <span class="nav-title">Dữ liệu</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("UploadProduct", "Import")">
                                <i class="icol-doc-excel-table"></i>Nhập từ Excel
                            </a>
                        </li>
                        <li><a href="@Url.Action("TrainingMatch", "Training")"><i class="icol-application-double"></i>Xử lý sản phẩm trùng</a></li>
                        <li><a href="@Url.Action("ManageUserPrice", "UserPrice")"><i class="icol-application-double"></i>Quản lý giá đề xuất</a></li>
                    </ul>
                </li>
                <li>
                    <span title="Product">
                        <i class="icon-gift"></i>
                        <span class="nav-title">Quản lý sản phẩm</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "ManageProduct")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách sản phẩm
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "ManageProduct")">
                                <i class="icol-application-add"></i>
                                Tạo sản phẩm mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Market">
                        <i class="icon-bag"></i>
                        <span class="nav-title">Quản lý chợ</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Market")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các chợ
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Market")">
                                <i class="icol-application-add"></i>
                                Tạo chợ mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Parser">
                        <i class="icon-download-2"></i>
                        <span class="nav-title">Parser</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Parser")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateParser", "Parser")">
                                <i class="icol-application-add"></i>
                                Tạo parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LogFile")">
                                <i class="icol-page-white-text"></i>
                                Quản lý log file
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}

@section footScript
{
    <script>
        $(document).ready(function () {
            $('#timepicker-basic').timepicker({
                timeOnly: true
            });
        });
    </script>
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Hệ thống
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("ConfigureSystem", "System")">Cấu hình hệ thống</a>
            </li>
        </ul>

        <h1 id="main-heading">Cấu hình hệ thống
            <span>Thay đổi các thông số trong hệ thống</span>
        </h1>
    </div>
}

<div class="row-fluid">
    <div class="span6 widget">
        @if (TempData["edit"] != null)
        {
            string message = TempData["edit"].ToString();
            if (message == "Success")
            {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Cập nhật thành công</strong><br />
                
            </div>
            }
            else if (message == "Failed")
            {
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Cập nhật thất bại. Vui lòng thử lại sau.</strong><br />
                
            </div>
            }
        }
        <div class="widget-header">
            <span class="title">Cấu hình hệ thống</span>
        </div>
        <div class="widget-content form-container">
            @using (Html.BeginForm("UpdateSystemProperties", "System", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="control-group">
                    <label class="control-label">Giá 1 lít xăng</label>
                    <div class="controls">
                        <div class="input-append">
                            @Html.TextBoxFor(x => x.FuelPrice, new { @class = "span6" })
                            <span class="add-on">nghìn đồng</span>
                        </div>
                        <p class="error help-block">@Html.ValidationMessageFor(x => x.FuelPrice)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Hệ số epsilon</label>
                    <div class="controls">
                        <div class="input-append">
                            @Html.TextBoxFor(x => x.Epsilon, new { @class = "span6" })
                            <span class="add-on">%</span>
                        </div>
                        <p class="error help-block">@Html.ValidationMessageFor(x => x.Epsilon)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Thời gian parse</label>
                    <div class="controls">
                        @Html.TextBoxFor(x => x.ParseTime, new { @class = "span6", id = "timepicker-basic" })
                        <p class="error help-block">@Html.ValidationMessageFor(x => x.ParseTime)</p>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Cập nhật"/>
                </div>
            }
        </div>
    </div>
</div>
