@using PagedList.Mvc
@model PagedList.IPagedList<SmartB.UI.Models.EntityFramework.Market>

@{
    ViewBag.Title = "Quản lý chợ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
    int end = Model.PageNumber * Model.PageSize;
    int start = end - Model.PageSize;
}

@section sidebar
{
    <aside id="sidebar">
        <nav id="navigation" class="collapse">
            <ul>
                <li>
                    <span title="General">
                        <i class="icon-home"></i>
                        <span class="nav-title">Trang chủ</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Statistics", "System")">
                                <i class="icol-chart-curve"></i>
                                Thông tin hệ thống
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icol-cog"></i>
                                Cấu hình hệ thống
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Data">
                        <i class="icon-table"></i>
                        <span class="nav-title">Dữ liệu</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("UploadProduct", "Import")">
                                <i class="icol-doc-excel-table"></i>Nhập từ Excel
                            </a>
                        </li>
                        <li><a href="@Url.Action("TrainingMatch", "Training")"><i class="icol-application-double"></i>Xử lý dữ liệu trùng</a></li>
                    </ul>
                </li>
                <li class="active">
                    <span title="Market">
                        <i class="icon-bag"></i>
                        <span class="nav-title">Quản lý chợ</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Market")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các chợ
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Market")">
                                <i class="icol-application-add"></i>
                                Tạo chợ mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Parser">
                        <i class="icon-download-2"></i>
                        <span class="nav-title">Parser</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Parser")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateParser", "Parser")">
                                <i class="icol-application-add"></i>
                                Tạo parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LogFile")">
                                <i class="icol-page-white-text"></i>
                                Quản lý log file
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}

@section headScript
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Quản lý chợ
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("Index", "Market")">Danh sách chợ</a>
            </li>
        </ul>

        <h1 id="main-heading">Danh sách chợ
            <span>Danh sách tất cả các chợ trong hệ thống</span>
        </h1>
    </div>
}

<div class="row-fluid">
    <div class="span12 widget">
        @if (TempData["create"] != null)
        {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Thành công</strong><br />
                Chợ mới đã được thêm vào hệ thống.
            </div>
        }
        <div class="widget-header">
            <span class="title">Danh sách các chợ</span>
        </div>
        <div class="widget-content table-container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên chợ</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var market in Model)
                    {
                        <tr>
                            <td>@(start + 1)</td>
                            <td>@market.Name</td>
                            <td>@market.Address</td>
                        </tr>
                        start++;
                    }
                </tbody>
            </table>
        </div>
        <div class="toolbar">
            <div class="pagination-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
    </div>
</div>
