@model SmartB.UI.Areas.Admin.Models.ParserCreator

@{
    ViewBag.Title = "Tạo Parser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
}

@section headScript
{
    <script>
        $(document).ready(function () {
            $('#rad_gridView').click(function () {
                $('#gridItemCheck').show('slow');
            }); // end click

            $('#rad_tabularView').click(function () {
                $('#gridItemCheck').hide('slow');
            }); // end click
        }); // end ready
    </script>
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Parser
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("CreateParser", "Parser")">Tạo parser</a>
            </li>
        </ul>

        <h1 id="main-heading">Tạo parser
            <span>Tạo một parser mới cho hệ thống</span>
        </h1>
    </div>
}

@section footScript
{
    <!-- Wizard -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/custom-plugins/wizard/wizard.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/custom-plugins/wizard/jquery.form.min.js")"></script>

    <script src="@Url.Content("~/Areas/Admin/Scripts/getXPath.js")"></script>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <span class="title">Trang web cần parse</span>
            </div>
            <div class="widget-content form-container">
                @using (Html.BeginForm("LoadWeb", "Parser", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        @Html.LabelFor(x => x.ParseLink, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.ParseLink, new { placeholder = "Nhập link cần parse", Value = TempData["link"] })
                            <input class="btn btn-primary" type="submit" value="Xem" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (TempData["link"] != null)
{
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">
                    <i class="icol-wand"></i>
                    Các bước tạo parser
                </span>
            </div>
            <div class="widget-content form-container">
                @using (Html.BeginForm("CreateParser", "Parser", FormMethod.Post, new { @class = "form-horizontal", id = "ParserForm" }))
                {
                    <input type="hidden" name="ParseLink" value="@TempData["link"]"/>
                    <fieldset class="wizard-step" data-name="type" data-step-id="0">
                        <legend class="wizard-label">
                            <i class="icon-book"></i>Loại Parser
                        </legend>
                        <div class="control-group">
                            <label class="control-label">Kiểu trình bày <span class="required">*</span></label>
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" value="table" name="viewType" id="rad_tabularView" checked="checked" />
                                    Dạng bảng
                                </label>
                                <label class="radio">
                                    <input type="radio" value="grid" name="viewType" id="rad_gridView" />
                                    Dạng lưới
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="divInfo" data-step-id="1">
                        <legend class="wizard-label"><i class="icon-book"></i>Khung thông tin</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới khung thông tin</label>
                            <div class="controls">
                                <input type="text" id="xpathTile" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="productName" data-step-id="2">
                        <legend class="wizard-label"><i class="icon-book"></i>Tên sản phẩm</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới tên sản phẩm</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ProductNameXpath, new { id = "xpathProductName" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="productPrice" data-step-id="3">
                        <legend class="wizard-label"><i class="icon-book"></i>Giá sản phẩm</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới giá sản phẩm</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.PriceXpath, new { id = "xpathPrice" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="paging" data-step-id="4">
                        <legend class="wizard-label"><i class="icon-book"></i>Phân trang</legend>
                        Phân trang
                    </fieldset>
                    <fieldset class="wizard-step" data-name="finish" data-step-id="5">
                        <legend class="wizard-label"><i class="icon-ok"></i>Kết thúc</legend>
                        Bạn chắc chắn muốn tạo parser với cấu hình đã chọn?
                    </fieldset>
@*<input class="primary" type="submit" value="Tạo parser" />*@
                }
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12 widget">
            <iframe id="webDiv" src="@Url.Content("~/Areas/Admin/SavedPages/tmp.html")" width="800" height="600"></iframe>
        </div>
    </div>
}
