@model SmartB.UI.Areas.Admin.Models.ParserCreator

@{
    ViewBag.Title = "Tạo Parser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
}

@section headScript
{
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/plugins/select2/select2.css")" media="screen" />
    
    <!-- Wizard Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/MoonCake/custom-plugins/wizard/wizard.css")" />
    
    <script>
        $(document).ready(function() {
            $('.select2-select-00').select2();
        });
    </script>
}

@section sidebar
{
    <aside id="sidebar">
        <nav id="navigation" class="collapse">
            <ul>
                <li>
                    <span title="General">
                        <i class="icon-home"></i>
                        <span class="nav-title">Hệ thống</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("ConfigureSystem", "System")">
                                <i class="icol-cog"></i>
                                Cấu hình hệ thống
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Data">
                        <i class="icon-table"></i>
                        <span class="nav-title">Dữ liệu</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("UploadProduct", "Import")">
                                <i class="icol-doc-excel-table"></i>Nhập từ Excel
                            </a>
                        </li>
                        <li><a href="@Url.Action("TrainingMatch", "Training")"><i class="icol-application-double"></i>Xử lý dữ liệu trùng</a></li>
                        <li><a href="@Url.Action("ManageUserPrice", "UserPrice")"><i class="icol-application-double"></i>Quản lý giá đề xuất</a></li>
                    </ul>
                </li>
                <li>
                    <span title="Product">
                        <i class="icon-gift"></i>
                        <span class="nav-title">Quản lý sản phẩm</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "ManageProduct")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách sản phẩm
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "ManageProduct")">
                                <i class="icol-application-add"></i>
                                Tạo sản phẩm mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Market">
                        <i class="icon-bag"></i>
                        <span class="nav-title">Quản lý chợ</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Market")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các chợ
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Market")">
                                <i class="icol-application-add"></i>
                                Tạo chợ mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <span title="Parser">
                        <i class="icon-download-2"></i>
                        <span class="nav-title">Parser</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Parser")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các parser
                            </a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("CreateParser", "Parser")">
                                <i class="icol-application-add"></i>
                                Tạo parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LogFile")">
                                <i class="icol-page-white-text"></i>
                                Quản lý log file
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Parser
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("CreateParser", "Parser")">Tạo parser</a>
            </li>
        </ul>

        <h1 id="main-heading">Tạo parser
            <span>Tạo một parser mới cho hệ thống</span>
        </h1>
    </div>
}

@section footScript
{
    <!-- Select2 -->
	<script src="@Url.Content("~/Areas/Admin/MoonCake/plugins/select2/select2.min.js")"></script>

    <!-- Wizard -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/custom-plugins/wizard/wizard.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/MoonCake/custom-plugins/wizard/jquery.form.min.js")"></script>

    <script src="@Url.Content("~/Areas/Admin/Scripts/getXPath.js")"></script>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <span class="title">Trang web cần parse</span>
            </div>
            <div class="widget-content form-container">
                @using (Html.BeginForm("LoadWeb", "Parser", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        @Html.LabelFor(x => x.ParseLink, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.ParseLink, new { placeholder = "Nhập link cần parse", Value = TempData["link"] ,required="required"})
                            <input class="btn btn-primary" type="submit" value="Xem" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (TempData["link"] != null)
{
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">
                    <i class="icol-wand"></i>
                    Các bước tạo parser
                </span>
            </div>
            <div class="widget-content form-container">
                @using (Html.BeginForm("CreateParser", "Parser", FormMethod.Post, new { @class = "form-horizontal", id = "ParserForm" }))
                {
                    <input type="hidden" name="ParseLink" value="@TempData["link"]"/>
                    <fieldset class="wizard-step" data-name="type" data-step-id="0">
                        <legend class="wizard-label">
                            <i class="icon-book"></i>Loại Parser
                        </legend>
                        <div class="control-group">
                            <label class="control-label">Kiểu trình bày <span class="required">*</span></label>
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" value="table" name="viewType" id="rad_tabularView" checked="checked" />
                                    Dạng bảng
                                </label>
                                <label class="radio">
                                    <input type="radio" value="grid" name="viewType" id="rad_gridView" />
                                    Dạng lưới
                                </label>
                            </div>
                            <label class="control-label">Tên chợ</label>
                            <div class="controls">
                                @Html.DropDownListFor(x => x.MarketId, ViewBag.Markets as List<SelectListItem>, new { @class = "select2-select-00 span5" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="divInfo" data-step-id="1">
                        <legend class="wizard-label"><i class="icon-book"></i>Khung thông tin</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới khung thông tin</label>
                            <div class="controls">
                                <input type="text" id="xpathTile" class="span5" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="productName" data-step-id="2">
                        <legend class="wizard-label"><i class="icon-book"></i>Tên sản phẩm</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới tên sản phẩm</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ProductNameXpath, new { id = "xpathProductName", @class = "span5" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="productPrice" data-step-id="3">
                        <legend class="wizard-label"><i class="icon-book"></i>Giá sản phẩm</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới giá sản phẩm</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.PriceXpath, new { id = "xpathPrice", @class = "span5" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="paging" data-step-id="4">
                        <legend class="wizard-label"><i class="icon-book"></i>Phân trang</legend>
                        <div class="control-group">
                            <label class="control-label">Xpath tới phần phân trang</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.PagingXpath, new { id = "xpathPaging", @class = "span5" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="wizard-step" data-name="finish" data-step-id="5">
                        <legend class="wizard-label"><i class="icon-ok"></i>Kết thúc</legend>
                        <div class="control-group">
                            <h3>Bạn chắc chắn với những gì đã chọn?</h3>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12 widget">
            <iframe id="webDiv" src="@Url.Content("~/Areas/Admin/SavedPages/tmp.html")" width="800" height="600"></iframe>
        </div>
    </div>
}
