@using PagedList.Mvc
@using SmartB.UI.Infrastructure
@model PagedList.IPagedList<SmartB.UI.Models.EntityFramework.ParseInfo>

@{
    ViewBag.Title = "Danh sách parser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
    int end = Model.PageNumber * Model.PageSize;
    int start = end - Model.PageSize;
}

@section headScript
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />

}
<script type="text/javascript">
    $(function () {
        $(".SetActive").click(function () {
            // Get the id from the link
            var recordToSet = $(this).attr("data-id");

            if (recordToSet != '') {

                // Perform the ajax post
                $.post("/Parser/SetActive", { "id": recordToSet },
                    function (data) {
                        location.reload();
                    });
            }
        });

    });
</script>
@section sidebar
{
    <aside id="sidebar">
        <nav id="navigation" class="collapse">
            <ul>
                <li>
                    <span title="General">
                        <i class="icon-home"></i>
                        <span class="nav-title">Hệ thống</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("ConfigureSystem", "System")">
                                <i class="icol-cog"></i>
                                Cấu hình hệ thống
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Data">
                        <i class="icon-table"></i>
                        <span class="nav-title">Dữ liệu</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("UploadProduct", "Import")">
                                <i class="icol-doc-excel-table"></i>Nhập từ Excel
                            </a>
                        </li>
                        <li><a href="@Url.Action("TrainingMatch", "Training")"><i class="icol-application-double"></i>Xử lý dữ liệu trùng</a></li>
                        <li><a href="@Url.Action("ManageUserPrice", "UserPrice")"><i class="icol-application-double"></i>Quản lý giá đề xuất</a></li>
                    </ul>
                </li>
                <li>
                    <span title="Product">
                        <i class="icon-gift"></i>
                        <span class="nav-title">Quản lý sản phẩm</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "ManageProduct")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách sản phẩm
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "ManageProduct")">
                                <i class="icol-application-add"></i>
                                Tạo sản phẩm mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Market">
                        <i class="icon-bag"></i>
                        <span class="nav-title">Quản lý chợ</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Market")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các chợ
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Market")">
                                <i class="icol-application-add"></i>
                                Tạo chợ mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <span title="Parser">
                        <i class="icon-download-2"></i>
                        <span class="nav-title">Parser</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Parser")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateParser", "Parser")">
                                <i class="icol-application-add"></i>
                                Tạo parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LogFile")">
                                <i class="icol-page-white-text"></i>
                                Quản lý log file
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Parser
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("Index", "Parser")">Danh sách parser</a>
            </li>
        </ul>

        <h1 id="main-heading">Danh sách parser
            <span>Tất cả các parser trong hệ thống</span>
        </h1>
    </div>
}

<div class="row-fluid">
    <div class="span12 widget">
        @if (TempData["create"] != null)
        {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Parser mới đã được thêm vào hệ thống.</strong><br />
                
            </div>
        }
        @if (TempData["edit"] != null)
        {
            string message = TempData["edit"].ToString();
            if (message == "Success")
            {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Cập nhật thành công</strong><br />
                
            </div>
            }
            else if (message == "Failed")
            {
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Cập nhật thất bại. Vui lòng thử lại sau.</strong><br />
                
            </div>
            }
        }
        @if (TempData["delete"] != null)
        {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Xóa thành công</strong><br />
                
            </div>
        }
        <div style="float:left;padding-top: 20px;">
        @using (Html.BeginForm("ParseData", "Parser"))
        {
            if (ConstantManager.IsParserRunning)
            {
                <input type="button" disabled="disabled" value="Parser đang chạy..." class="btn btn-primary"/>
            }
            else
            {
                <input type="submit" value="Chạy parser" class="btn btn-primary"/>
            }
        }
            </div>
        <br />
        <div style="margin-left:45%">
         @using (Html.BeginForm("Index", "Parser", FormMethod.Get))
        {
            <p>
                Tên Chợ: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="margin-bottom: 10px;" />
            </p>
        }
            </div>
            <div class="widget-header">
                <span class="title">Danh sách các parsers</span>
            </div>
            <div class="widget-content table-container">
                <table class="table table-bordered table-striped table-checkable">
                    <thead>
                        <tr class="bg-header">
                            <th style="width:5%;text-align:center">STT</th>
                            <th style="width:25%;text-align:center">Tên chợ</th>
                            <th style="width:40%;text-align:center">Đường dẫn</th>
                            <th style="width:15%;text-align:center">Thao tác</th>
                            <th  style="width:15%;text-align:center">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var info in Model)
                        {
                            <tr>
                                <td style="text-align:center">@(start + 1)</td>
                                <td>@info.Market.Name</td>
                                <td>@info.ParseLink</td>
                                <td style="text-align:center">
                                    @Html.ActionLink("Chỉnh sửa", "EditParser", new { id = info.Id })
                                </td>
                                 @if (info.IsActive == true)
                        {
                            <td style="text-align:center">
                                <button class="SetActive activeStatus" data-id="@info.Id">
                                    <p>Hoạt động</p>
                                </button>
                            </td>  
                        }
                        else
                        {
                            <td style="text-align:center">
                                <button class="SetActive de-activeStatus" data-id="@info.Id">
                                    <p>Không hoạt động</p>
                                </button>
                            </td>   
                        }
                            </tr>
                            start++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="toolbar" style="padding-right: 10px;">
            <div class="pagination-right">
                @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>
