@model SmartB.UI.Areas.Admin.Models.ParserCreator

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section script
{
    <script src="@Url.Content("~/Areas/Admin/Scripts/getXPath.js")"></script>
    <script>
        $(document).ready(function () {
            $('#rad_gridView').click(function () {
                $('#gridItemCheck').show('slow');
            }); // end click

            $('#rad_tabularView').click(function () {
                $('#gridItemCheck').hide('slow');
            }); // end click
        }); // end ready
    </script>
}

<h2>Tạo Parser</h2>

@using (Html.BeginForm("LoadWeb", "Parser"))
{
    @Html.LabelFor(x => x.ParseLink)
    <div class="input-control text">
        @Html.TextBoxFor(x => x.ParseLink, new { placeholder = "Nhập link cần parse", Value = TempData["link"] })
        <button class="btn-clear"></button>
    </div>
    <input class="primary" type="submit" value="Xem" />
}

<div class="input-control radio" data-role="input-control">
    <label>
        <input type="radio" name="viewType" id="rad_tabularView" checked="checked" />
        <span class="check"></span>
        Dạng bảng
    </label>
</div>
<div class="input-control radio" data-role="input-control">
    <label>
        <input type="radio" name="viewType" id="rad_gridView" />
        <span class="check"></span>
        Dạng lưới
    </label>
</div>

@using (Html.BeginForm("CreateParser", "Parser"))
{
    <input type="hidden" name="ParseLink" value="@TempData["link"]"/>
    <div id="gridItemCheck" style="display: none">
        <div class="input-control radio" data-role="input-control">
            <label>
                <input type="radio" name="xpathValue" id="rad_tile" />
                <span class="check"></span>
                Khung thông tin
            </label>
        </div>
        <div class="input-control text">
            <input type="text" id="xpathTile" />
            <button class="btn-clear"></button>
        </div>
    </div>
    
    <div class="input-control radio" data-role="input-control">
        <label>
            <input type="radio" name="xpathValue" id="rad_productName" checked="checked" />
            <span class="check"></span>
            Tên sản phẩm
            @*@Html.LabelFor(x => x.ProductNameXpath)*@
        </label>
    </div>
    <div class="input-control text">
        @Html.TextBoxFor(x => x.ProductNameXpath, new { id = "xpathProductName" })
        <button class="btn-clear"></button>
    </div>
    
    <div class="input-control radio" data-role="input-control">
        <label>
            <input type="radio" name="xpathValue" id="rad_price" />
            <span class="check"></span>
            Giá sản phẩm
            @*@Html.LabelFor(x => x.PriceXpath)*@
        </label>
    </div>
    <div class="input-control text">
        @Html.TextBoxFor(x => x.PriceXpath, new { id = "xpathPrice" })
        <button class="btn-clear"></button>
    </div>
    <input class="primary" type="submit" value="Tạo parser" />
}

@if (TempData["link"] != null)
{
    <iframe id="webDiv" src="@Url.Content("~/Areas/Admin/SavedPages/tmp.html")" width="800" height="600"></iframe>
}
