@using PagedList.Mvc
@model SmartB.UI.Models.ListSellProductModel

@{
    ViewBag.Title = "Nhập từ Excel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
}

@section headScript
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Dữ liệu
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("UploadProduct", "Import")">Nhập từ excel</a>
            </li>
        </ul>

        <h1 id="main-heading">Nhập từ excel
            <span>Dữ liệu được đưa vào từ file excel</span>
        </h1>
    </div>
}

@section footScript
{
    <!-- File Input -->
    <script src="@Url.Content("~/Areas/Admin/MoonCake/custom-plugins/bootstrap-fileinput.min.js")"></script>
}

<script>   
    $(document).ready(function () {
        //  var countProduct = $('#ProductTable tr').length;
        var count = $('#ProductTable tr').children().length;
    });

    function saveProduct(index, maxCorrect) {
        var productId = $("#ProductId" + index).val();
        var productName = $("#ProductName" + index).val();
        var productMarketName = $("#ProductMarketName" + index).val();
        var productPrice = $("#ProductPrice" + index).val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveProductError", "Import")',
            data: { ProductId: productId, ProductName: productName, ProductMarketName: productMarketName, ProductPrice: productPrice },
            cache: true,
            success: function (result) {
                if (result.error.length == 0) {
                    var stt = parseInt($('#ProductTable tr:last #STT').html()) + 1;
                    var id = result.id;
                    $("#ErrorArea").html("");
                    if(result.status.toString() == "Duplicate Products List")
                    {
                        alert("Sản phẩm bị trùng, vui lòng kiểm tra danh sách sản phẩm trùng.");
                        $('tr:has(td:contains("'+result.nameDupProduct+'"))').parent('tbody').find("tr:last").after("<tr><td style='width:5%'>"+
                                                                                  "<input type='checkbox'/>"+
                                                                              "</td> " +
                                                                              "<td style='width:40%'>"+productName+"</td> " +
                                                                              "<td style='width:35%'>"+ productMarketName+"</td>" +
                                                                              "<td style='width:10%'>"+ productPrice+"</td>" +
                                                                              "<td style='width:10%'> "+
                                                                              "<input  type='radio' name='productPrice_"+result.tableId+"' id='Check_"+result.tableId+"'/> "+
                                                                              "</td>"+
                                                                           "</tr>")
                        $("#ErrorProduct tr#ErrorProductTD" + index).remove();
                    }
                    if(result.status.toString() == "Correct Products List")
                    {
                        alert("Sản phẩm bị trùng, vui lòng kiểm tra danh sách sản phẩm trùng.");
                        if(result.count == 1) // chưa có sp trùng
                        {
                            var dupTableCount = (result.count -1);
                            idDupTable = result.count ;
                            $("#tableEmpty").after("<br /> "+
                                                            "<div id='dupTable_"+dupTableCount +"' > " +
                                                              "<div class='row-fluid'> "+
                                                               "<div class='span12 widget'>"+
                                                                 "<div class='widget-header'>"+
                                                                   "<span class='title'>Nhóm sản phẩm trùng</span>"+
                                                                   "<div class='toolbar'>"+
                                                                     "<div class='btn-group'>"+
                                                                       "<button class='btn' id='combine_"+dupTableCount+"' onclick='mergeProduct("+dupTableCount+")'>"+
                                                                       "<i class='icol-arrow-join'></i>Gộp</button>"+
                                                                       "<button class='btn' id='split_"+dupTableCount+"' onclick='split("+dupTableCount+")'>"+
                                                                       "<i class='icol-arrow-divide'></i>Tách</button>"+
                                                                       "</div>"+
                                                                     "</div>"+
                                                                   "</div>"+
                                                                 "</div>"+
                                                                 "<div class='widget-content table-container'>"+
                                                                   "<table id='table_"+dupTableCount+"'  class='table table-bordered table-striped table-checkable'>" +
                                                                     "<thead>"+
                                                                          "<tr id='header_"+dupTableCount+"'> "+
                                                                           "<th class='checkbox-column' id='checkboxAllTable_"+dupTableCount+"'  style='width:5%'>"+
                                                                             "<input type='checkbox' class='uniform' onclick='checkboxAllTable("+dupTableCount+")' />"+
                                                                           "</th> " +
                                                                           "<th style='width:40%'>Tên Sản Phẩm</th>"+
                                                                           "<th style='width:35%'>Tên Chợ</th> "+
                                                                           "<th style='width:10%'>Giá</th> "+
                                                                           "<th style='width:10%'>Chọn giá</th> " +
                                                                          "</tr> "+
                                                                     "</thead>"+
                                                                     "<tr class='checked'>"+
                                                                        "<td class='checked' id='checkbox_0' onclick='checkboxChecked(0)'  style='width:5%'>"+
                                                                           "<input type='checkbox' checked='checked' id='checkbox' />"+
                                                                        "</td> " +
                                                                                     "<td  style='width:40%'>"+productName+"</td> " +
                                                                                     "<td  style='width:35%'>"+ productMarketName+"</td>" +
                                                                                     "<td style='width:10%>"+ productPrice+"</td>" +
                                                                                     "<td style='width:10%><input type='radio' name='productPrice_"+dupTableCount+"'  id='Check_"+dupTableCount+"' checked='checked'/>" +
                                                                     "</tr> "+
                                                                     "<tr><td id='checkbox_1' onclick='checkboxChecked(1)' style='width:5%'><input type='checkbox' id='checkbox'/></td> " +
                                                                                    "<td style='width:40%'>"+result.correctProductName+"</td> " +
                                                                                    "<td style='width:35%'>"+result.correctMarketName+"</td>" +
                                                                                    "<td style='width:10%>"+result.correctProductPrice+"</td>" +
                                                                                    "<td style='width:10%><input type='radio' name='productPrice_"+dupTableCount+"'  id='Check_"+dupTableCount+"'/>"+ 
                                                                    "</tr> "+
                                                                  "</table>"+
                                                                 "</div> "+
                                                               "</div> "+
                                                              "</div> "+
                                                            "</div>");

                            $("#ProductTable tr#product_"+result.tableCorrectId).remove();
                            $("#ErrorProduct tr#ErrorProductTD" + index).remove();
                        } 
                        else
                        {
                            var dupTableCount = result.count -2;
                            idDupTable = result.count -1;
                            $("#dupTable_"+dupTableCount).after("<br /> "+
                                                            "<div id='dupTable_"+idDupTable +"' > " +
                                                              "<div class='row-fluid'> "+
                                                               "<div class='span12 widget'>"+
                                                                 "<div class='widget-header'>"+
                                                                   "<span class='title'>Nhóm sản phẩm trùng</span>"+
                                                                 "</div>"+
                                                                 "<div class='widget-content table-container'>"+
                                                                   "<table id='table_"+idDupTable+"'  class='table table-striped'>" +
                                                                     "<thead>"+
                                                                          "<tr id='header_"+idDupTable+"'> "+
                                                                           "<th></th> " +
                                                                           "<th>Tên Sản Phẩm</th>"+
                                                                           "<th>Tên Chợ</th> "+
                                                                           "<th>Giá</th> "+
                                                                           "<th>Chọn giá</th> " +
                                                                          "</tr> "+
                                                                     "</thead>"+
                                                                     "<tr><td><input type='checkbox' checked /></td> " +
                                                                                     "<td>"+productName+"</td> " +
                                                                                     "<td>"+ productMarketName+"</td>" +
                                                                                     "<td>"+ productPrice+"</td>" +
                                                                                     "<td><input type='radio' name='productPrice_"+idDupTable+"'  id='Check_"+idDupTable+"' checked/>" +
                                                                     "</tr> "+
                                                                     "<tr><td><input type='checkbox' /></td> " +
                                                                                    "<td>"+result.correctProductName+"</td> " +
                                                                                    "<td>"+result.correctMarketName+"</td>" +
                                                                                    "<td>"+result.correctProductPrice+"</td>" +
                                                                                    "<td><input type='radio' name='productPrice_"+idDupTable+"'  id='Check_"+idDupTable+"'/>"+ 
                                                                    "</tr> "+
                                                                  "</table>"+
                                                                  "<div class='dt_footer'>"+
                                                                    "<div class='row-fluid'>"+
                                                                      " <div class='pull-right'>"+
                                                                   "<input type='button' value='Gộp' onclick='mergeProduct("+idDupTable+")' class='primary' id='combine_"+idDupTable+"' /> "+
                                                                   "<input type='button' value='Tách'  onclick='split("+idDupTable+")' id='split_"+idDupTable+"' />"+
                                                                        "</div> "+
                                                                     "</div> "+
                                                                   "</div> "+
                                                                "</div> "+
                                                               "</div> "+
                                                              "</div> "+
                                                            "</div>");

                         //   $("#ProductTable tr#product_"+result.tableCorrectId).remove();
                            $('#ProductTable tr:has(td:contains("'+result.nameDupProduct+'"))').remove();
                            $("#ErrorProduct tr#ErrorProductTD" + index).remove();
                        }
                    } else if(result.status.toString() != "Duplicate Products List" && result.status.toString() != "Correct Products List")
                    {
                        $("#ProductTable tr:last").after("<tr id='product_"+id+"'>"+
                                                            "<td id='STT'>" + stt + "</td>"+
                                                            "<td>"+productName+"</td>"+
                                                            "<td>"+ productMarketName +"</td>"+
                                                            "<td>" + productPrice +"</td>"+
                                                            "<td> <button type='button' class='btn' onclick='deleteProduct("+id+")'>"+
                                                            "<i class='icol-cross'></i>Xóa</button></td>"+
                                                         "</tr>")
                        $("#ErrorProduct tr#ErrorProductTD" + index).remove();
                    }
                }
                else {
                    var errordisp = "";
                    $.each(result.error, function (index, value) {
                        errordisp += "<label style='color: red'>" + value + "</label>"
                    });
                    $("#ErrorArea").html(errordisp);
                    if(result.error.toString() == "Sản phẩm đã có.")
                    {
                        var message = confirm("Sản phẩm đã có, bạn có muốn cập nhật sản phẩm này?")
                        if(message == true)
                        {
                            if(result.id) {
                                $("#product_"+result.id).find("td").find("input")[2].value = result.updatedPrice;
                                $("#ErrorProduct tr#ErrorProductTD" + index).remove();
                                $("#ErrorArea").html("");
                            }
                            return true;
                        }else
                        {
                            return false;
                        }
                    }
                    return false;
                }
            }
        });
    }
    function deleteProduct(id){
        var productId = $("#ProductId" + id).val();
        var message = confirm("Bạn có muốn xóa sản phẩm này?")
        $.ajax({
            type: "DELETE",
            url: '@Url.Action("DeleteProduct", "Import")',
            data: { id: id},
            cache: true,
            success: function (result) {
                if(message == true)
                {
                    $("#product_"+id).remove();
                    return true;
                }else 
                {
                    return false;
                }
                    
            }
        });

    }
    function saveCorrectProduct(products) {

        $('#ProductTable tr').each(function (index) {
            console.log(index);
            $(this).find('td').each(function (i) {
                //do your stuff, you can use $(this) to get current cell
                if (index > 0) {
                    if (i == 0) {
                        console.log($(this).text());
                    }
                    var td = $(this);
                    if (td.find('input')) {
                        console.log(td.find('input').val());
                    }
                }
            })
        })
    }
    function setTable(what){
        if(document.getElementById(what).style.display=="none"){
            document.getElementById(what).style.display="block";
        }
        else if(document.getElementById(what).style.display=="block"){
            document.getElementById(what).style.display="none";
        }
    }

       

    function Product(id,checkbox ,productName, productMarket, price, checked) {
        this.id = id;
        this.checkbox = checkbox;
        this.productName = productName;
        this.productMarket = productMarket;
        this.price = price;
        this.checked = checked;
    }

    function mergeProduct(i) {
       
        var duplicateTable = $("#table_"+i);
        var listTr = duplicateTable.find("tr");
        var products = [];
        for(var j = 0; j < listTr.length; j++) {
            if(listTr[j].id != 'header_'+i) {
                var cells = listTr[j].cells;
                for (var l = 0; l < 2; l++) {
                    var checkbox = cells[0].childNodes[l].checked;
                    if(checkbox == true || checkbox == false)
                    {
                        break;
                    }
                }
                
                var name = cells[1].innerHTML;
                var market = cells[2].innerHTML;
                var price = cells[3].innerHTML;
                for (var m  = 0; m < 2; m++) {
                    var checked = cells[4].childNodes[m].checked;
                    if(checked == true|| checked == false)
                    {
                        break;
                    }
                }
                if(checkbox == true){
                    var product = new Product(j,checkbox,name,market,price,checked);
                    products.push(product);
                }
            }
        }
        if(products.length < 2)
        {
            alert("Vui lòng chọn ít nhất 2 sản phẩm.");
        } else
        {
            var testChecked = false;
            for (var c = 0; c < products.length; c++) {
                if(products[c].checked == false)
                {
                    testChecked = false;
                } else 
                {
                    testChecked = true;
                    break;
                }
            }
            if(testChecked == false)
            {
                alert("Vui lòng chọn giá của sản phẩm đã chọn.");
            } else {
                var productName = "";
                var productMarket = "";
                var productPrice;
                var nonstop = true;
                for(var n = 0; n < products.length && nonstop; n++) {
                    if(products[n].checked) {
                        var temp = products[0];
                        products[0] = products[n];
                        products[n] = temp;
                        nonstop = false;
                    }
                }
                for(var k = 0; k < products.length; k++) {
                    if (k != products.length) {
                        productName += products[k].productName + ";";

                    } else {
                        productName += products[k].productName;
                    }
                    productMarket = products[k].productMarket;
                    if (products[k].checked) {
                        productPrice = products[k].price;
                    }
                }
                
                var finalProduct = new Product(0, productName, productMarket, productPrice, true);
                    
                var id = parseInt($('#ProductTable tr:last #STT').html());
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSession", "Import")',
                    data: { ProductId: id, ProductName: productName, ProductMarketName: productMarket, ProductPrice: productPrice },
                    cache: true,
                    success: function (newId) {
                        var id = newId;
                        var stt = parseInt($('#ProductTable tr:last #STT').html()) + 1;
                        $("#ProductTable tr:last").after("<tr id='product_"+id+"'>"+
                                                            "<td id='STT'>" + stt + "</td>"+
                                                            "<td>"+productName+"</td>"+
                                                            "<td>"+ productMarket +"</td>"+
                                                            "<td>" + productPrice +"</td>"+
                                                            "<td> <button type='button' class='btn' onclick='deleteProduct("+id+")'>"+
                                                            "<i class='icol-cross'></i>Xóa</button></td>"+
                                                         "</tr>")
                        for (var h = 0; h < products.length; h++) {
                                
                            if(h >0){
                                    
                                if(products[h].id != 1){
                                    $("#dupTable_"+i).find("tr")[products[h].id -h].remove();
                                } 
                                else
                                {
                                    $("#dupTable_"+i).find("tr")[products[h].id ].remove();
                                }
                            } 
                            else
                            {
                                $("#dupTable_"+i).find("tr")[products[h].id].remove();
                            }
                            if($("#dupTable_"+i).find("tr")[1] == null)
                            {
                                $("#dupTable_"+i).remove();
                            }
                        }
                        if(listTr.length = 2)
                        {
                            $("#dupTable_"+i).find("tr").find("input:checkbox").attr( 'checked', $( this ).is( ':checkbox' ) ? 'checked' : '' );
                            $("#split_"+i).click()
                        }
                    }
                });
                
            }
        }
        
    }
    
   
    function split(i) 
    {
        var duplicateTable = $("#table_"+i);
        var listTr = duplicateTable.find("tr");
        var products = [];
            
        for(var j = 0; j < listTr.length; ++j) {
            if(listTr[j].id != 'header_'+i) {
                var cells = listTr[j].cells;
                //var checkbox = cells[0].childNodes[1].checked;
                for (var l = 0; l < 2; l++) {
                    var checkbox = cells[0].childNodes[l].checked;
                    if(checkbox == true || checkbox == false)
                    {
                        break;
                    }
                }
                var name = cells[1].innerHTML;
                var market = cells[2].innerHTML;
                var price = cells[3].innerHTML;
                for (var m  = 0; m < 2; m++) {
                    var checked = cells[4].childNodes[m].checked;
                    if(checked == true|| checked == false)
                    {
                        break;
                    }
                }
                if(listTr.length < 4)
                {
                    var product = new Product(j,checkbox,name,market,price,checked);
                    products.push(product);
                }
                else 
                    if(checkbox == true){
                        var product = new Product(j,checkbox,name,market,price,checked);
                        products.push(product);
                    }
            }
        }
        if(products.length < 1)
        {
            alert("Vui lòng chọn ít nhất 1 sản phẩm để tách.");
        } 
        else {
            var id = parseInt($('#ProductTable tr:last #STT').html());
            for (var k = 0; k < products.length; k++) 
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSession", "Import")',
                    data: { ProductId: id, ProductName: products[k].productName, ProductMarketName: products[k].productMarket, ProductPrice: products[k].price },
                    cache: true,
                    success: function (result) {
                       
                        var id = result.id;
                        var stt = parseInt($('#ProductTable tr:last #STT').html()) + 1;
                        $("#ProductTable tr:last").after("<tr id='product_"+id+"'>"+
                                                            "<td id='STT'>" + stt + "</td>"+
                                                            "<td>"+ result.correctProductName+"</td>"+
                                                            "<td>"+ result.correctMarketName +"</td>"+
                                                            "<td>" + result.correctProductPrice +"</td>"+
                                                            "<td> <button type='button' class='btn' onclick='deleteProduct("+id+")'>"+
                                                            "<i class='icol-cross'></i>Xóa</button></td>"+
                                                         "</tr>")
                    }
                });
                if(k >0)
                {
                    //if(products[k].id != 1 ){
                                  
                    //    $("#dupTable_"+i).find("tr")[products[k].id -k].remove();
                    //} 
                    //else
                    //{
                    $("#dupTable_"+i).find("tr")[products[k].id - k].remove();
                    //}
                } 
                else
                {
                    $("#dupTable_"+i).find("tr")[products[k].id].remove();
                }
            }
        }
        if($("#dupTable_"+i).find("tr")[1] != null && $("#dupTable_"+i).find("tr")[2] == null)
        {
            $("#dupTable_"+i).find("tr").find("input:checkbox").attr( 'checked', $( this ).is( 'checked' ) ? 'checked' : '' );
            split(i);
        }
                    
        if($("#dupTable_"+i).find("tr")[1] == null)
        {
            $("#dupTable_"+i).remove();
        }
    }
    function mergeProduct1(i) {
       
        var duplicateTable = $("#table_"+i);
        var listTr = duplicateTable.find("tr");
        var products = [];
        for(var j = 0; j < listTr.length; j++) {
            if(listTr[j].id != 'header_'+i) {
                var cells = listTr[j].cells;
                for (var l = 0; l < 2; l++) {
                    var checkbox = cells[0].childNodes[l].childNodes[0].childNodes[0].checked;
                    if(checkbox == true || checkbox == false)
                    {
                        break;
                    }
                }
                
                var name = cells[1].innerHTML;
                var market = cells[2].innerHTML;
                var price = cells[3].innerHTML;
                for (var m  = 0; m < 2; m++) {
                    var checked = cells[4].childNodes[m].childNodes[0].childNodes[0].checked;
                    if(checked == true|| checked == false)
                    {
                        break;
                    }
                }
                if(checkbox == true){
                    var product = new Product(j,checkbox,name,market,price,checked);
                    products.push(product);
                }
            }
        }
        if(products.length < 2)
        {
            alert("Vui lòng chọn ít nhất 2 sản phẩm.")
        } else
        {
            var testChecked = false;
            for (var c = 0; c < products.length; c++) {
                if(products[c].checked == false)
                {
                    testChecked = false;
                } else 
                {
                    testChecked = true;
                    break;
                }
            }
            if(testChecked == false)
            {
                alert("Vui lòng chọn giá của sản phẩm đã chọn.")
            } else {
                var productName = "";
                var productMarket = "";
                var productPrice;
                var nonstop = true;
                //for(var n = 0; n < products.length && nonstop; n++) {
                //    if(products[n].checked) {
                //        var temp = products[n];
                //        products[n] = products[0];
                //        products[0] = temp;
                //        nonstop = false;
                //    }
                //}
                for(var k = 0; k < products.length; k++) {
                    if (k != products.length) {
                        productName += products[k].productName + ";"

                    } else {
                        productName += products[k].productName;
                    }
                    productMarket = products[k].productMarket;
                    if (products[k].checked) {
                        productPrice = products[k].price;
                    }
                }
                
                var finalProduct = new Product(0,checkbox, productName, productMarket, productPrice, true);
                    
                var id = parseInt($('#dupSellProductTable tr:last #STT').html());
                
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSession", "Import")',
                    data: { ProductId: id, ProductName: productName, ProductMarketName: productMarket, ProductPrice: productPrice },
                    cache: true,
                    success: function (result) {
                        var id = result.id;
                        var stt = parseInt($('#dupSellProductTable tr:last #STT').html()) + 1;
                        if(stt.toString() == "NaN")
                        {
                            stt = 1;
                        }
                        $("#dupSellProductTable tr:last").after("<tr id='product_"+id+"' style='display: table-row;'> "+
                                                                     "<td id='STT'>" + stt + "</td> "+
                                                                     "<td><input readonly value='" + productName +"'></input></td>"+
                                                                     "<td><input readonly value='" + productMarket + "'>" +"</input></td>"+
                                                                     "<td><input readonly value='" + productPrice + "'>" +"</input></td>"+
                                                                     "<td> <button type='button' class='btn' onclick='deleteProduct("+id+")'>"+
                                                                     "<i class='icol-cross'></i>Xóa</button></td>"+
                                                                "</tr>")
                        // var testChecked = false;
                        for (var h = 0; h < products.length; h++) {
                                
                            if(h >0){
                                    
                                if(products[h].id != 1){
                                    $("#dupTable_"+i).find("tr")[products[h].id -h].remove();
                                } 
                                else
                                {
                                    $("#dupTable_"+i).find("tr")[products[h].id ].remove();
                                }
                            } 
                            else
                            {
                                $("#dupTable_"+i).find("tr")[products[h].id].remove();
                            }
                            if($("#dupTable_"+i).find("tr")[1] == null)
                            {
                                $("#dupTable_"+i).remove();
                            }
                        }
                        if(listTr.length = 2)
                        {
                            $("#dupTable_"+i).find("tr").find("input:checkbox").attr( 'checked', $( this ).is( 'checked' ) ? 'checked' : '' );
                            $("#split_"+i).click()
                        }
                        $("#MessageArea").html("");
                    }
                });
                
            }
        }
        
    }
    function split1(i) 
    {
        var duplicateTable = $("#table_"+i);
        var listTr = duplicateTable.find("tr");
        var products = [];
            
        for(var j = 0; j < listTr.length; ++j) {
            if(listTr[j].id != 'header_'+i) {
                var cells = listTr[j].cells;
                //var checkbox = cells[0].childNodes[1].checked;
                for (var l = 0; l < 2; l++) {
                    var checkbox = cells[0].childNodes[l].childNodes[0].childNodes[0].checked;
                    if(checkbox == true || checkbox == false)
                    {
                        break;
                    }
                }
                var name = cells[1].innerHTML;
                var market = cells[2].innerHTML;
                var price = cells[3].innerHTML;
                for (var m  = 0; m < 2; m++) {
                    var checked = cells[4].childNodes[m].childNodes[0].childNodes[0].checked;
                    if(checked == true|| checked == false)
                    {
                        break;
                    }
                }
                if(listTr.length < 4)
                {
                    var product = new Product(j,checkbox,name,market,price,checked);
                    products.push(product);
                }
                else if(checkbox == true){
                    var product = new Product(j,checkbox,name,market,price,checked);
                    products.push(product);
                }
            }
        }
        if(products.length < 1)
        {
            alert("Vui lòng chọn ít nhất 1 sản phẩm để tách.")
        } 
        else {
            var id = parseInt($('#dupSellProductTable tr:last #STT').html());
            for (var k = 0; k < products.length; k++) 
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSession", "Import")',
                    data: { ProductId: id, ProductName: products[k].productName, ProductMarketName: products[k].productMarket, ProductPrice: products[k].price },
                    cache: true,
                    success: function (result) {
                       
                        var id = result.id;
                        var stt = parseInt($('#dupSellProductTable tr:last #STT').html()) + 1;
                        if(stt.toString() == "NaN")
                        {
                            stt = 1;
                        }
                        $("#dupSellProductTable tr:last").after("<tr id='product_"+id+"' style='display: table-row;'> "+
                                                                     "<td id='STT'>" + stt + "</td> "+
                                                                     "<td><input readonly value='" + result.correctProductName+"'></input></td>"+
                                                                     "<td><input readonly value='" +  result.correctMarketName+ "'>" +"</input></td>"+
                                                                     "<td><input readonly value='" + result.correctProductPrice+ "'>" +"</input></td>"+
                                                                     "<td> <button type='button' class='btn' onclick='deleteProduct("+id+")'>"+
                                                            "<i class='icol-cross'></i>Xóa</button></td>"+
                                                         "</tr>")
                    }
                });
                
                if(k >0)
                {
                    if(products[k].id != 1){
                                  
                        $("#dupTable_"+i).find("tr")[products[k].id -k].remove();
                    } 
                    else
                    {
                        $("#dupTable_"+i).find("tr")[products[k].id].remove();
                    }
                } 
                else
                {
                    $("#dupTable_"+i).find("tr")[products[k].id].remove();
                }
                        
                if($("#dupTable_"+i).find("tr")[1] == null)
                {
                    $("#dupTable_"+i).remove();
                }
            }
        }
        $("#MessageArea").html("");
    }

    function mergeAll(i)
    {
        var countTable = $("#fb").find("table").size();
        for (var i = 0; i < countTable; i++) 
        {
            $("#fb").find("#dupTable_"+i).find("input:checkbox")[0].click();
            $("#fb").find("#dupTable_"+i).find("#combine_"+i).click();
        }
        //$('input[value="Gộp"]').click()
    }

    function splitAll(i)
    {
        var countTable = $("#fb").find("table").size();
        for (var i = 0; i < countTable; i++) 
        {
            $("#fb").find("#dupTable_"+i).find("input:checkbox")[0].click();
            $("#fb").find("#dupTable_"+i).find("#split_"+i).click();
        }
                
    }
    function saveFile()
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("exportTxt", "Import")',
            data: { },
            cache: true,
            success: function (message) {
                alert(message);
            }
        });
    }
    function checkboxChecked(j)
    {
        if($("#checkbox_"+j).find("input:checkbox")[0].checked == false)
        {
            $("#checkbox_"+j).parent('tr').removeClass("checked");
            $("#checkbox_"+j).find("input:checkbox").removeAttr('checked');
        }
        else if($("#checkbox_"+j).find("input:checkbox")[0].checked == true)
        {
            $("#checkbox_"+j).parent('tr').attr("class", "checked");
            $("#checkbox_"+j).find("input:checkbox").attr('checked');
        }
    }
    function checkboxAllTable(i)
    {
        if($("#checkboxAllTable_"+i).find("input:checkbox")[0].checked == true)
        {
            $("#table_"+i).find("tbody").find("input:checkbox").attr('checked', $( this ).is( '' ) ? 'checked' : '' );
            $("#table_"+i).find("tbody").find("tr").attr("class", "checked");
        }
        else
        {
            $("#table_"+i).find("tbody").find("input:checkbox").removeAttr('checked');
            $("#table_"+i).find("tbody").find("tr").removeClass('checked');
        }
    }
</script>

<form action="@Url.Action("UploadProduct", "Import")" enctype="multipart/form-data" method="post">
    <div class="control-group">
        <label class="control-label" for="excelFile">Chọn file excel</label>
        <div class="controls">
            <input type="file" id="excelFile" name="excelFile" data-provide="fileinput" />
            <input type="submit" value="Tải lên" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="tabbable analytics-tab paper-stack">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-target="#live" data-toggle="tab">
                <i class="icos-documents-2"></i>
                Danh sách sản phẩm
            </a>
        </li>
        <li>
            <a href="#" data-target="#math" data-toggle="tab">
                <i class="icos-acces-denied-sign"></i>
                Sản phẩm lỗi
            </a>
        </li>
        <li>
            <a href="#" data-target="#fb" data-toggle="tab">
                <i class="icos-alert"></i>
                Sản phẩm trùng
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="live" class="tab-pane active">
            <div class="analytics-tab-header clearfix">
                <strong>Các sản phẩm đúng trong file excel.</strong>
            </div>
            <div class="analytics-tab-content">
                @using (Html.BeginForm("SaveProducts", "Import"))
                {
                    if (ViewBag.dupSellProduct != null)
                    {

                        if (ViewBag.countInsert != null || ViewBag.countUpdate != null)
                        {
                            if (ViewBag.countInsert.ToString() != "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() != "Có 0 sản phẩm được cập nhật giá.")
                            {
                    <div id="MessageArea">
                        <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countUpdate </label>
                        <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countInsert</label>
                        <label style="color: blue; font-weight: bold; font-size: larger">
                            Có <b>@ViewBag.dupSellProduct.Count </b>sản phẩm bị trùng 
                        </label>
                    </div>
                            }
                            else if (ViewBag.countInsert.ToString() == "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() != "Có 0 sản phẩm được cập nhật giá.")
                            { 
                    <div id="MessageArea">
                        <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countUpdate </label>
                        <label style="color: blue; font-weight: bold; font-size: larger">
                            Có <b>@ViewBag.dupSellProduct.Count </b>sản phẩm bị trùng 
                        </label>
                    </div>
                            }
                            else if (ViewBag.countInsert.ToString() != "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() == "Có 0 sản phẩm được cập nhật giá.")
                            {
                    <div id="MessageArea">
                        <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countInsert</label>
                        <label style="color: blue; font-weight: bold; font-size: larger">
                            Có <b>@ViewBag.dupSellProduct.Count </b>sản phẩm bị trùng 
                        </label>
                    </div>
                            }
                            else if (ViewBag.countInsert.ToString() == "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() == "Có 0 sản phẩm được cập nhật giá.")
                            {
                    <div id="MessageArea">
                        <label style="color: blue; font-weight: bold; font-size: larger">Không có sản phẩm được lưu mới hoặc cập nhật giá </label>
                        <label style="color: blue; font-weight: bold; font-size: larger">
                            Có <b>@ViewBag.dupSellProduct.Count </b>sản phẩm bị trùng 
                        </label>
                    </div>
                            }
                        }

                    }
                    else
                        if (ViewBag.countInsert != null || ViewBag.countUpdate != null)
                        {
                            if (ViewBag.countInsert.ToString() != "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() != "Có 0 sản phẩm được cập nhật giá.")
                            {
                    <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countUpdate </label>
                    <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countInsert</label>
                            }
                            else if (ViewBag.countInsert.ToString() == "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() != "Có 0 sản phẩm được cập nhật giá.")
                            { 
                    <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countUpdate </label>
                            }
                            else if (ViewBag.countInsert.ToString() != "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() == "Có 0 sản phẩm được cập nhật giá.")
                            {
                    <label style="color: blue; font-weight: bold; font-size: larger">@ViewBag.countInsert</label>
                            }
                            else if (ViewBag.countInsert.ToString() == "Có 0 sản phẩm được lưu mới." & ViewBag.countUpdate.ToString() == "Có 0 sản phẩm được cập nhật giá.")
                            {
                    <label style="color: blue; font-weight: bold; font-size: larger">Không có sản phẩm được lưu mới hoặc cập nhật giá </label>
                            }
                        }
                    if (Model != null)
                    {
                        if (Model.ErrorCount >= 5)
                        {
                    <label style="color: red; font-weight: bold; font-size: larger">
                        <text>File có quá nhiều lỗi.</text>
                        <br />
                        <text>Vui lòng chỉnh sửa lại đúng thông tin.</text>
                    </label>
                        }
                        if (Model.ExceptionName == "External table is not in the expected format.")
                        {
                    <label style="color: red; font-weight: bold; font-size: larger">
                        <text>File không đúng định dạng.</text>
                        <br />
                        <text>Vui lòng chọn định dạng file Excel.</text>
                    </label>
                        }
                    }
                    if (Model != null && Model.ErrorCount < 5 && Model.ExceptionName != "External table is not in the expected format.")
                    {
                    
                    <div class="row-fluid">
                        <div class="span12 widget">
                            <div class="widget-header">
                                <span class="title">Danh sách sản phẩm</span>
                                @if (Model.ExceptionName != "External table is not in the expected format.")
                                {
                                    <div class="toolbar">
                                        <div class="btn-group">
                                            <button type="submit" class="btn">
                                                <i class="icol-accept"></i>
                                                Lưu lại
                                            </button>
                                            <button type="button" class="btn" onclick='window.location = "@Url.Action("UploadProduct", "Import")"'>
                                                <i class="icol-cancel"></i>
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="widget-content table-container">
                                <table class="table table-striped table-bordered" id="ProductTable">
                                    <thead>
                                        <tr>
                                            <td style="display: none"></td>
                                            <th>STT</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Tên Chợ</th>
                                            <th>Giá (Nghìn đồng)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.PagedCorrectProducts.Count; i++)
                                        {
                        
                                            <tr id="product_@i">
                                                <td style="display: none">
                                                    @Model.PagedCorrectProducts[i].Id
                                                </td>
                                                <td id="STT">@(i + 1)</td>

                                                <td>
                                                    @Model.PagedCorrectProducts[i].Name
                                                </td>

                                                <td>
                                                    @Model.PagedCorrectProducts[i].MarketName
                                                </td>

                                                <td>
                                                    @Model.PagedCorrectProducts[i].Price
                                                </td>
                                                <td>
                                                    <button type="button" class="btn" onclick="deleteProduct(@i)">
                                                        <i class="icol-cross"></i>
                                                        Xóa
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="toolbar">
                                <div class="pagination-right">
                                    @Html.PagedListPager(Model.PagedCorrectProducts, page => Url.Action("PagedData", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    //View sản phẩm trùng với DB              
                    if (ViewBag.dupSellProduct != null)
                    {
                    <div class="row-fluid">
                        <div class="span12 widget">
                            <div class="widget-header">
                                <span class="title">Danh sách sản phẩm</span>
                            </div>
                            <div class="widget-content table-container">
                                <table class="table table-striped dataTable" id="dupSellProductTable">
                                    <thead>
                                        <tr>
                                            <td style="display: none"></td>
                                            <th>STT</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Tên Chợ</th>
                                            <th>Giá (Nghìn đồng)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="display: none"></td>
                                            <td id="STT1"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="dt_footer">
                                    <div class="row-fluid">
                                        <div class="pagination pagination-right">
                                            @Html.PagedListPager(Model.PagedCorrectProducts, page => Url.Action("PagedData", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="primary" type="button" name="Lưu lại" value="Lưu lại" onclick="location.href='@Url.Action("SaveDupProducts", "Import")    '"  />
                               
                    <input class="bg-gray fg-white" value="Hủy" type="button" onclick='window.location = "@Url.Action("UploadProduct", "Import")    "' />
                    }
                    else if (Model != null && Model.ErrorCount >= 5)
                    {
                    <div id="ErrorLinesArea">
                        <label style="color: red">Tên sản phẩm phải từ 5 đến 100 ký tự</label>
                        <lable><b style="font-weight:bold;color:blue">Dòng:</b> 
                            @for (int i = 0; i < @Model.ErrorNameLines.Count; i++)
                            {
                               @Model.ErrorNameLines[i] <b>,</b>   
                            }  </lable>
                        <label style="color: red">Tên chợ phải từ 5 đến 20 ký tự</label>
                        <lable><b style="font-weight:bold;color:blue">Dòng:</b> @for (int i = 0; i < @Model.ErrorMarketNameLines.Count; i++)
                                                                                {
                                     @Model.ErrorMarketNameLines[i] <b>,</b>    
                                                                                }  </lable>
                        <label style="color: red">Giá phải từ 1 đến 10000</label>
                        <lable><b style="font-weight:bold;color:blue">Dòng:</b> @for (int i = 0; i < @Model.ErrorPriceLines.Count; i++)
                                                                                {
                                     @Model.ErrorPriceLines[i] <b>,</b>    
                                                                                }  </lable>
                    </div> <br />
                    <input href="#" onclick="setTable('tableProductError');return false" value="Ẩn/Hiện chi tiết" type="button" style="font-weight: bold" />
                                                                                // Table nhiều hơn 5 lỗi            
                    <div id="tableProductError" style="display: none;">
                        <lable style="font-size: x-large; font-weight: bold; color: blue">Danh sách sản phẩm bị lỗi</lable>
                        <table class="table">
                            <tr style="font-size: 14px; line-height: 14pt; padding: 8px; border-bottom: 1px #eaeaea solid; font-weight: bold">
                                <td style="padding: 8px; width: 55px;">Số dòng</td>
                                <td style="padding: 8px; width: 187px;">Tên Sản Phẩm</td>
                                <td style="padding: 8px; width: 202px;">Tên Chợ</td>
                                <td style="padding: 8px; width: 176px;">Giá (Nghìn đồng)</td>
                            </tr>

                            @for (int i = 0; i < @Model.InCorrectSellProducts.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(model => model.InCorrectSellProducts[i].Id)
                                    <td style="padding: 8px; width: 100px;">@Model.InCorrectSellProducts[i].RowNumber</td>
                                    @if (@Model.InCorrectSellProducts[i].Name.Length < 5 || @Model.InCorrectSellProducts[i].Name.Length > 100)
                                    {
                                        <td style="color: red; width: 187px">@Html.TextBoxFor(model => model.InCorrectSellProducts[i].Name, new { style = "color: red;font-weight:bold; width: 155px", @readonly = "readonly" })</td>
                                        <span>
                                            <p style="color: Red">@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].Name)</p>
                                        </span>
                                    }
                                    else
                                    {
                                        <td style="width: 187px">@Html.TextBoxFor(model => model.InCorrectSellProducts[i].Name, new { disabled = "disabled", @readonly = "readonly" })</td>
                                        <span>
                                            <p style="color: Red">@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].Name)</p>
                                        </span>
                                    }
                                    @if (@Model.InCorrectSellProducts[i].MarketName.Length < 5 || @Model.InCorrectSellProducts[i].MarketName.Length > 100)
                                    {
                                        <td style="color: red; width: 202px">@Html.TextBoxFor(model => model.InCorrectSellProducts[i].MarketName, new { style = "color: red;font-weight:bold; width: 155px", @readonly = "readonly" })</td>       
                                        <span>
                                            <p style="color: Red">@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].MarketName)</p>
                                        </span>
                                    }
                                    else
                                    {
                                        <td style="width: 202px">@Html.TextBoxFor(model => model.InCorrectSellProducts[i].MarketName, new { disabled = "disabled", @readonly = "readonly" })</td> 
                                        <span>
                                            <p style="color: Red">@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].MarketName)</p>
                                        </span>
                                       
                                    }
                                    @if (@Model.InCorrectSellProducts[i].Price < 1 || @Model.InCorrectSellProducts[i].Price > 10000)
                                    {
                                        <td style="color: red; width: 176px">@Html.TextBoxFor(model => model.InCorrectSellProducts[i].Price, new { style = "color: red;font-weight:bold; width: 155px", @readonly = "readonly" })</td>
                                        <span>
                                            <p style="color: Red">@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].Price)</p>
                                        </span>
                                    }
                                    else
                                    {
                                        <td style="width: 176px">@Html.TextBoxFor(model => model.InCorrectSellProducts[i].Price, new { disabled = "disabled", @readonly = "readonly" })</td>
                                        <span>
                                            <p style="color: Red">@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].Price)</p>
                                        </span>
                                    }

                                </tr>
                            }
                        </table>
                    </div>
                    }
                }
            </div>
        </div>
        <div id="math" class="tab-pane">
            <div class="analytics-tab-header clearfix">
                <strong>Các sản phẩm lỗi trong file excel</strong>
            </div>
            <div class="analytics-tab-content">
                @if (Model != null && Model.ErrorCount < 5 && Model.ExceptionName != "External table is not in the expected format.")
                {
                    if (Model.ErrorCount > 0)
                    {
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Lỗi dữ liệu</strong><br />
                        <ul>
                            @if (Model.ExceptionName == "Tên sản phẩm phải từ 5 đến 100 ký tự")
                            {
                                <li>@Model.ExceptionName</li>
                            }
                            @if (Model.ExceptionMarket == "Tên chợ phải từ 5 đến 20 ký tự")
                            {
                                <li>@Model.ExceptionMarket</li>
                            }
                            @if (Model.ExceptionPrice == "Giá phải từ 1 đến 10000")
                            {
                                <li>@Model.ExceptionPrice</li>
                            }
                        </ul>

                    </div>
                    <div class="row-fluid">
                        <div class="span12 widget">
                            <div class="widget-header">
                                <span class="title">Sản phẩm lỗi</span>
                            </div>
                            <div class="widget-content table-container">
                                <table class="table table-bordered table-striped table-flipscroll" id="ErrorProduct">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Tên Chợ</th>
                                            <th>Giá (Nghìn đồng)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @for (int i = 0; i < Model.InCorrectSellProducts.Count; i++)
                                    {
                                        <tr id="@("ErrorProductTD" + i)">
                                            @Html.HiddenFor(model => model.InCorrectSellProducts[i].Id, new { id = "ProductId" + i })
                                            <td>@(i + 1)</td>
                                            @if (Model.InCorrectSellProducts[i].Name.Length < 5 || Model.InCorrectSellProducts[i].Name.Length > 100)
                                            {
                                                <td>
                                                    <div class="control-group error">
                                                        <div class="controls">
                                                            @Html.TextBoxFor(model => model.InCorrectSellProducts[i].Name, new { id = "ProductName" + i })
                                                            <span class="help-block" id="productNameAlert"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.InCorrectSellProducts[i].Name, new { id = "ProductName" + i })
                                                    <p>@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].Name)</p>
                                                </td>
                                            }
                                            @if (Model.InCorrectSellProducts[i].MarketName.Length < 5 || Model.InCorrectSellProducts[i].MarketName.Length > 100)
                                            {
                                                <td>
                                                    <div class="control-group error">
                                                        <div class="controls">
                                                            @Html.TextBoxFor(model => model.InCorrectSellProducts[i].MarketName, new { id = "ProductMarketName" + i })
                                                            <span class="help-block" id="marketNameAlert"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.InCorrectSellProducts[i].MarketName, new { id = "ProductMarketName" + i })
                                                    <p>@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].MarketName)</p>
                                                </td> 
                                            }
                                            @if (Model.InCorrectSellProducts[i].Price < 1 || Model.InCorrectSellProducts[i].Price > 10000)
                                            {
                                                <td>
                                                    <div class="control-group error">
                                                        <div class="controls">
                                                            @Html.TextBoxFor(model => model.InCorrectSellProducts[i].Price, new { id = "ProductPrice" + i, @class = "input-mini" })
                                                            <span class="help-block" id="priceAlert"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.InCorrectSellProducts[i].Price, new { id = "ProductPrice" + i, @class = "input-mini" })
                                                    <p>@Html.ValidationMessageFor(model => model.InCorrectSellProducts[i].Price)</p>
                                                </td>
                                            }
                                            <td>
                                                <button type="button" class="btn" onclick="saveProduct(@i,@Model.CorrectSellProducts.Count)">
                                                    <i class="icol-accept"></i>
                                                    Lưu
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>
        <div id="fb" class="tab-pane">
            <div class="analytics-tab-header clearfix">
                <strong>Các sản phẩm có khả năng trùng nhau trong file excel.
                    <span class="text-info">Đơn vị tính: nghìn đồng</span>
                </strong>
            </div>
            <div class="analytics-tab-content">
                <div class="btn-toolbar" id="tableEmpty">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn" onclick="mergeAll()">
                                <i class="icol-arrow-in"></i>
                                Gộp tất cả
                            </button>
                            <button type="button" class="btn" onclick="splitAll()">
                                <i class="icol-arrow-out"></i>
                                Tách tất cả
                            </button>
                            <button type="button" class="btn" onclick="saveFile()">
                                <i class="icol-page-white-text"></i>
                                Lưu file
                            </button>
                        </div>
                    </div>
                </div>
                @if (Model != null)
                {
                    if (Model.duplicateCorrectProduct != null)
                    {
                        for (int i = 0; i < Model.duplicateCorrectProduct.Count; i++)
                        {
                    <div id="dupTable_@i" >
                        <div class="row-fluid">
                            <div class="span12 widget">
                                <div class="widget-header">
                                    <span class="title">Nhóm sản phẩm trùng</span>
                                    <div class="toolbar">
                                        <div class="btn-group">
                                            <button class="btn" id="combine_@i" onclick="mergeProduct(@i)">
                                                <i class="icol-arrow-join"></i>
                                                Gộp
                                            </button>
                                            <button class="btn" id="split_@i" onclick="split(@i)">
                                                <i class="icol-arrow-divide"></i>
                                                Tách
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content table-container">
                                    <table id="table_@i" class="table table-bordered table-striped table-checkable">
                                        <thead>
                                            <tr id="header_@i">
                                                <th class="checkbox-column" id="checkboxAllTable_@i" style="width:5%">
                                                    <input type="checkbox" class="uniform" onclick="checkboxAllTable(@i)" />
                                                </th>
                                                <th style="width:40%">Tên Sản Phẩm</th>
                                                <th style="width:35%">Tên Chợ</th>
                                                <th style="width:10%">Giá</th>
                                                <th style="width:10%">Chọn giá</th>
                                            </tr>
                                        </thead>

                                        @for (int j = 0; j < Model.duplicateCorrectProduct[i].Count; j++)
                                        {

                                            if (j == 0)
                                            {
                                            <tr class="checked">
                                                <td class="checked" id="checkbox_@j" onclick="checkboxChecked(@j)">
                                                    <input type="checkbox" checked="checked" id="checkbox" />
                                                </td>
                                                <td>@Model.duplicateCorrectProduct[i][j].Name</td>
                                                <td>@Model.duplicateCorrectProduct[i][j].MarketName</td>
                                                <td>@Model.duplicateCorrectProduct[i][j].Price</td>
                                                <td>
                                                    <input type="radio" name="productPrice_@i"  id="Check_@i" checked="checked"/>
                                                </td>
                                            </tr>
                                            }
                                            else
                                            {
                                            <tr>
                                                <td id="checkbox_@j" onclick="checkboxChecked(@j)">
                                                    <input type="checkbox" id="checkbox" />
                                                </td>
                                                <td>@Model.duplicateCorrectProduct[i][j].Name</td>
                                                <td>@Model.duplicateCorrectProduct[i][j].MarketName</td>
                                                <td>@Model.duplicateCorrectProduct[i][j].Price</td>
                                                <td>
                                                    <input type="radio" name="productPrice_@i"  id="Check_@i" />
                                                </td>
                                            </tr>
                                            }

                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                    }
                }
                @if (ViewBag.dupSellProduct != null)
                {
                    for (int i = 0; i < ViewBag.dupSellProduct.Count; i++)
                    {
                    <div id="dupTable_@i">
                        <div class="row-fluid">
                            <div class="span12 widget">
                                <div class="widget-header">
                                    <span class="title">Nhóm sản phẩm trùng</span>
                                    <div class="toolbar">
                                        <div class="btn-group">
                                            <button class="btn" id="combine_@i" onclick="mergeProduct1(@i)">
                                                <i class="icol-arrow-join"></i>
                                                Gộp
                                            </button>
                                            <button class="btn" id="split_@i" onclick="split1(@i)">
                                                <i class="icol-arrow-divide"></i>
                                                Tách
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content table-container">
                                    <table id="table_@i" class="table table-bordered table-striped table-checkable">
                                        <thead>
                                            <tr id="header_@i">
                                                <th class="checkbox-column">
                                                    <input type="checkbox" class="uniform" />
                                                </th>
                                                <th>Tên Sản Phẩm</th>
                                                <th>Tên Chợ</th>
                                                <th>Giá</th>
                                                <th>Chọn giá</th>
                                            </tr>
                                        </thead>

                                        @for (int j = 0; j < ViewBag.dupSellProduct[i].Count; j++)
                                        {

                                            if (j == 0)
                                            {
                                            <tr>
                                                <td class="checkbox-column">
                                                    <input class="uniform" type="checkbox" checked />
                                                </td>
                                                <td>@ViewBag.dupSellProduct[i][j].Name</td>
                                                <td>@ViewBag.dupSellProduct[i][j].MarketName</td>
                                                <td>@ViewBag.dupSellProduct[i][j].Price</td>
                                                <td>
                                                    <input class="uniform" type="radio" name="productPrice_@i" id="Check_@i" checked="checked"/>
                                                </td>
                                                <
                                            </tr>
                                            }
                                            else
                                            {
                                            <tr>
                                                <td class="checkbox-column">
                                                    <input class="uniform" type="checkbox" id="checkbox" />
                                                </td>
                                                <td>@ViewBag.dupSellProduct[i][j].Name</td>
                                                <td>@ViewBag.dupSellProduct[i][j].MarketName</td>
                                                <td>@ViewBag.dupSellProduct[i][j].Price</td>
                                                <td>
                                                    <input class="uniform" type="radio" name="productPrice_@i" id="Check_@i" />
                                                </td>
                                            </tr>
                                            }

                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
