@model SmartB.UI.Models.EntityFramework.User

@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section head
{
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Metro -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    @*<script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>*@

    <link rel="stylesheet" href="@Url.Content("~/Content/Error.css")"/>
}

<div id="top-image" class="top-image1">
    <div class="container">
        <div id="top-image-caption">
            <h2>Thông tin tài khoản</h2>
        </div>
    </div>
</div>

<div id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <p>Thông tin tài khoản</p>
                    </li>
                </ul>
            </div>

            <div class="span4">
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container fadeDown">
        <div class="grid">
            <div class="row">
                <div class="span4">
                    @using (Html.BeginForm("ChangePassword", "Account"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>Thông tin tài khoản</legend>
                            <ul class="unstyled">
                                <li>
                                    @Html.LabelFor(m => m.Username)
                                    <div class="metro">
                                        <div class="input-control text size5">
                                            @Html.TextBoxFor(m => m.Username, new { disabled = "disabled" })
                                            <button type="button" class="btn-clear"></button>
                                        </div>
                                    </div>
                                    <p>@Html.ValidationMessageFor(m => m.Username)</p>
                                </li>
                                <li>
                                    @Html.LabelFor(m => m.Password)
                                    <div class="metro">
                                        <div class="input-control password size5">
                                            @Html.PasswordFor(m => m.Password)
                                            <button type="button" class="btn-reveal"></button>
                                        </div>
                                    </div>
                                    <p>@Html.ValidationMessageFor(m => m.Password)</p>
                                </li>
                            </ul>
                            <div class="metro">
                                <button type="submit" class="primary pull-right">
                                    <i class="icon-checkmark"></i>
                                    Lưu lại
                                </button>
                            </div>
                        </fieldset>
                    }
                </div>
                <div class="span8"></div>
            </div>

            <div class="stylish-dark-separator"></div>

            <div class="row">
                <div class="title-center">
                    <h3>Tạo 3 đường đi theo thứ tự ưu tiên</h3>
                </div>
                <div class="accordion fadeDown">
                    <h5><i class="icon-plus-sign"></i>Đường đi thứ nhất</h5>
                    <div>
                        <label>Tên đường đi</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="FirstRouteName" />
                            </div>
                        </div>

                        <label>Điểm xuất phát</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="FirstStart" />
                            </div>
                        </div>

                        <label>Điểm kết thúc</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="FirstEnd" />
                            </div>
                        </div>
                    </div>
                    <h5><i class="icon-plus-sign"></i>Đường đi thứ hai</h5>
                    <div>
                        <label>Tên đường đi</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="SecondRouteName" />
                            </div>
                        </div>

                        <label>Điểm xuất phát</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="SecondStart" />
                            </div>
                        </div>

                        <label>Điểm kết thúc</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="SecondEnd" />
                            </div>
                        </div>
                    </div>
                    <h5><i class="icon-plus-sign"></i>Đường đi thứ ba</h5>
                    <div>
                        <label>Tên đường đi</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="ThirdRouteName" />
                            </div>
                        </div>

                        <label>Điểm xuất phát</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="ThirdStart" />
                            </div>
                        </div>

                        <label>Điểm kết thúc</label>
                        <div class="metro">
                            <div class="input-control text size5">
                                <input type="text" id="ThirdEnd" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
