@model SmartB.UI.Models.EntityFramework.Market

@{
    ViewBag.Title = "Sửa thông tin chợ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
}

@section sidebar
{
    <aside id="sidebar">
        <nav id="navigation" class="collapse">
            <ul>
                <li>
                    <span title="General">
                        <i class="icon-home"></i>
                        <span class="nav-title">Trang chủ</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Statistics", "System")">
                                <i class="icol-chart-curve"></i>
                                Thông tin hệ thống
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icol-cog"></i>
                                Cấu hình hệ thống
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Data">
                        <i class="icon-table"></i>
                        <span class="nav-title">Dữ liệu</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("UploadProduct", "Import")">
                                <i class="icol-doc-excel-table"></i>Nhập từ Excel
                            </a>
                        </li>
                        <li><a href="@Url.Action("TrainingMatch", "Training")"><i class="icol-application-double"></i>Xử lý dữ liệu trùng</a></li>
                    </ul>
                </li>
                <li class="active">
                    <span title="Market">
                        <i class="icon-bag"></i>
                        <span class="nav-title">Quản lý chợ</span>
                    </span>
                    <ul class="inner-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Market")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các chợ
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Market")">
                                <i class="icol-application-add"></i>
                                Tạo chợ mới
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span title="Parser">
                        <i class="icon-download-2"></i>
                        <span class="nav-title">Parser</span>
                    </span>
                    <ul class="inner-nav">
                        <li>
                            <a href="@Url.Action("Index", "Parser")">
                                <i class="icol-application-view-columns"></i>
                                Danh sách các parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateParser", "Parser")">
                                <i class="icol-application-add"></i>
                                Tạo parser
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LogFile")">
                                <i class="icol-page-white-text"></i>
                                Quản lý log file
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Quản lý chợ
                <span class="divider">&raquo;</span>
            </li>
            <li>Sửa thông tin chợ
            </li>
        </ul>

        <h1 id="main-heading">Sửa thông tin chợ
            <span>Sửa thông tin của một chợ trong hệ thống</span>
        </h1>
    </div>
}

@section headScript
{
    <style>
        #map-canvas
        {
            width: inherit;
            height: 600px;
        }
    </style>

    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmQi6XuUHARe_gzLWFpKWzZSu34ZaWv1Q&sensor=false&libraries=places"></script>

    <script type="text/javascript">
        var map, marketAddress;
        
        function initialize() {
            var center = new google.maps.LatLng(10.791658, 106.658163);
            var mapOptions = {
                zoom: 15
            };
            map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            
            @if (Model != null)
            {
                <text>
            center = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
            var marker = new google.maps.Marker({
                position: center,
                map: map,
                animation: google.maps.Animation.DROP
            });
                </text>
            }

            map.setCenter(center);

            marketAddress = new google.maps.places.Autocomplete(document.getElementById('Address'), { types: ['geocode'] });

            google.maps.event.addListener(marketAddress, 'place_changed', function () {
                var place = marketAddress.getPlace();
                var lat = place.geometry.location.lat();
                var lng = place.geometry.location.lng();

                $('#Latitude').val(lat);
                $('#Longitude').val(lng);

                var marker = new google.maps.Marker({
                    position: place.geometry.location,
                    map: map,
                    animation: google.maps.Animation.DROP
                });
                
                map.setCenter(new google.maps.LatLng(lat, lng));
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <span class="title">Tạo chợ mới</span>
            </div>
            <div class="widget-content form-container">
                @using (Html.BeginForm("Edit", "Market", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(x => x.Latitude, new { id = "Latitude" })
                    @Html.HiddenFor(x => x.Longitude, new { id = "Longitude" })
                    <div class="control-group">
                        <label class="control-label" for="Name">Tên chợ</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Name, new { id = "Name", @class = "span12" })
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="Address">Địa chỉ</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Address, new { id = "Address", @class = "span12" })
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Cập nhật" />
                    </div>
                    
                    <div class="control-group">
                        <div id="map-canvas"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
