@using PagedList.Mvc
@model PagedList.IPagedList<SmartB.UI.Models.EntityFramework.Market>

@{
    ViewBag.Title = "Quản lý chợ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNew.cshtml";
    int end = Model.PageNumber * Model.PageSize;
    int start = end - Model.PageSize;
}

@section headScript
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
}

@section mainHeader
{
    <div id="main-header" class="page-header">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                Quản lý chợ
                <span class="divider">&raquo;</span>
            </li>
            <li>
                <a href="@Url.Action("Index", "Market")">Danh sách chợ</a>
            </li>
        </ul>

        <h1 id="main-heading">Danh sách chợ
            <span>Danh sách tất cả các chợ trong hệ thống</span>
        </h1>
    </div>
}

<div class="row-fluid">
    <div class="span12 widget">
        @if (TempData["create"] != null)
        {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Thành công</strong><br />
                Chợ mới đã được thêm vào hệ thống.
            </div>
        }
        <div class="widget-header">
            <span class="title">Danh sách các chợ</span>
        </div>
        <div class="widget-content table-container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên chợ</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var market in Model)
                    {
                        <tr>
                            <td>@(start + 1)</td>
                            <td>@market.Name</td>
                            <td>@market.Address</td>
                        </tr>
                        start++;
                    }
                </tbody>
            </table>
        </div>
        <div class="toolbar">
            <div class="pagination-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
    </div>
</div>
