@model IEnumerable<SmartB.UI.Models.SuggestRouteModel>

@{
    ViewBag.Title = "Gợi ý";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    int counter = 0;
    var markets = Model.Select(x => new { x.MarketName, x.Latitude, x.Longitude}).Distinct();
}

@section head
{
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmQi6XuUHARe_gzLWFpKWzZSu34ZaWv1Q&sensor=false"></script>

    <script type="text/javascript">
        var map, directionsService, directionsDisplay;
        var str = '@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Route))';
        var data = eval('(' + str + ')');

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(10.791658, 106.658163),
                zoom: 12
            };
            map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);
            directionsService = new google.maps.DirectionsService();

            var wp = get_waypoints();
            set_route(data, wp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function set_route(data, wp) {
            var request = {
                origin: new google.maps.LatLng(data.start.lat, data.start.lng),
                destination: new google.maps.LatLng(data.end.lat, data.end.lng),
                waypoints: wp,
                travelMode: google.maps.TravelMode.DRIVING,
                optimizeWaypoints: true
            };
            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);
                }
            });
        }

        function get_waypoints() {
            var wp = [];
            var point;
            @foreach (var item in markets)
            {
                if (item.MarketName != "")
                {
                    <text>
                        point = { 'location': new google.maps.LatLng(@item.Latitude, @item.Longitude), 'stopover': true };
                        wp.push(point);
                    </text>
                }
            }
            return wp;
        }
    </script>
}

<div id="top-image" class="top-image1">
    <div class="container">
        <div id="top-image-caption">
            <h2>Gợi ý cách mua</h2>
        </div>
    </div>
</div>

<div id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="@Url.Action("ViewCart", "Cart")">Thông tin giỏ hàng</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <p>Gợi ý cách mua</p>
                    </li>
                </ul>
            </div>

            <div class="span4">
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container fadeDown">

        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Tên chợ</th>
                        <th>Giá bán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        counter++;
                        <tr>
                            <td>@counter</td>
                            <td>@item.ProductName</td>
                            <td>
                                @if (item.MarketName != "")
                                {
                                    <span>@item.MarketName</span>
                                }
                                else
                                {
                                    <span>Không tìm thấy</span>
                                }
                            </td>
                            <td>
                                @if (item.MarketName != "")
                                {
                                    <span>@item.Price</span>
                                }
                                else
                                {
                                    <span>@item.MinPrice - @item.MaxPrice</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="google-map fadeDown">
            <div id="map-canvas" />
        </div>
    </div>
</div>
