@model IEnumerable<SmartB.UI.Models.SuggestRouteModel>

@{
    ViewBag.Title = "Gợi ý";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    int counter = 0;
    var markets = Model.Select(x => new { x.MarketName, x.Latitude, x.Longitude }).Distinct();
}

@section head
{
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmQi6XuUHARe_gzLWFpKWzZSu34ZaWv1Q&sensor=false"></script>
    <link href="@Url.Content("~/Content/Order.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />

    <script type="text/javascript">
        var map, directionsService, directionsDisplay;
        var str = '@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Route))';
        var data = eval('(' + str + ')');

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(10.791658, 106.658163),
                zoom: 12
            };
            map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);
            directionsService = new google.maps.DirectionsService();

            var wp = get_waypoints();
            set_route(data, wp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function set_route(data, wp) {
            var request = {
                origin: new google.maps.LatLng(data.start.lat, data.start.lng),
                destination: new google.maps.LatLng(data.end.lat, data.end.lng),
                waypoints: wp,
                travelMode: google.maps.TravelMode.DRIVING,
                optimizeWaypoints: true
            };
            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);
                }
            });
        }

        function get_waypoints() {
            var wp = [];
            var point;
            @foreach (var item in markets)
            {
                if (item.MarketName != "")
                {
                    <text>
            point = { 'location': new google.maps.LatLng(@item.Latitude, @item.Longitude), 'stopover': true };
            wp.push(point);
                    </text>
                }
            }
            return wp;
        }
    </script>
}

<div class="bgSizeCover">
    <div id="Contain" class="bgContainCover">
        <div class="ProductDetail">
            <div class="Tools">
                <div class="Left">
                    <ul class="SortTool">
                        <li style="padding: 8px 30px; cursor: auto; background-color: #3399FF; color: white !important;">
                            <a style="color:white" href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li style="padding: 8px 30px; cursor: auto;">Gợi ý cách mua hàng.
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>


        <div class="main-content" style="padding: 60px 20px 20px; min-height: 560px;">
            <div style="min-height: 700px;">

                @using (Html.BeginForm("SuggestRoute", "Route"))
                {
                    <div class="ProductNameDetail" style="margin-bottom: 10px;">Chọn đường đi</div>
                    <div style="margin-left:10px;float:left">
                    @Html.DropDownList("Routes")
                        </div>
                    <div class="metro" style="margin-left:5px;float:left">
                        <button type="submit" class="primary ">
                            <i class="icon-checkmark"></i>
                            Chọn
                        </button>
                    </div>
                }

                @if (Model.Any())
                {
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Tên chợ</th>
                                <th>Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                counter++;
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.ProductName</td>
                                    <td>
                                        @if (item.MarketName != "")
                                        {
                                            <span>@item.MarketName</span>
                                        }
                                        else
                                        {
                                            <span>Không tìm thấy</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.MarketName != "")
                                        {
                                            <span>@item.Price</span>
                                        }
                                        else
                                        {
                                            <span>@item.MinPrice - @item.MaxPrice</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <div class="google-map fadeDown">
                    <div id="map-canvas" />
                </div>
            </div>
        </div>
    </div>
</div>
