<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Metro/css/metro-bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Metro/css/metro-bootstrap-responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Metro/js/prettify/prettify.css")">

    <script src="@Url.Content("~/Metro/js/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Metro/js/metro/metro.min.js")"></script>
    <script src="@Url.Content("~/Metro/js/prettify/prettify.js")"></script>
    <script src="@Url.Content("~/Metro/js/metro/metro-loader.js")"></script>
    
</head>
<body class="metro">
    <nav class="navigation-bar dark">
        <nav class="navigation-bar-content">
            <a class="element" href="#">Smart Buy</a>
            <span class="element-divider"></span>

            <button class="element image-button image-left place-right">
                Welcome, Sergey Pimenov
            </button>
        </nav>
    </nav>
    <div class="grid" style="height: 100%; margin-bottom: 0px;">
        <div class="row" style="margin-top: 0; height: 100%">
            <div class="span3 bg-dark" style="height: 100%">
                <nav class="sidebar">
                    <ul>
                        <li class="title">Phần hệ thống</li>
                        <li><a href="#"><i class="icon-cog"></i>Cấu hình hệ thống</a></li>
                        <li><a href="@Url.Action("Index", "LogFile")"><i class="icon-files"></i>Xem log file</a></li>

                        <li class="title">Phần quản lý</li>
                        <li><a href="#"><i class="icon-cart-2"></i>Quản lý chợ</a></li>
                        <li><a href="#"><i class="icon-cube"></i>Quản lý sản phẩm</a></li>
                        <li><a href="#"><i class="icon-box-add"></i>Quản lý parser</a></li>
                        <li><a href="#"><i class="icon-user"></i>Quản lý tài khoản</a></li>
                        <li><a href="@Url.Action("LogOff", "Account")"><i class="icon-switch"></i>Thoát</a></li>
                    </ul>
                </nav>
            </div>
            <div class="span9">@RenderBody()</div>
        </div>
    </div>
</body>
@RenderSection("script", false)
</html>
