@model PagedList.IPagedList<SmartB.UI.Models.EntityFramework.History>
@using PagedList.Mvc;

@{
    ViewBag.Title = "BuyingHistory";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/utils/productUtils.js")"></script>

    <!-- Metro -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>
    <link href="@Url.Content("~/Content/Order.css")" rel="stylesheet" type="text/css" />

}
<script>
    $(document).ready(function () {
        $("#order-summary").hide();
    });
</script>
<div class="bgSizeCover">
    <div id="Contain" class="bgContainCover"> 
        <div class="ProductDetail">
            <div class="Tools">
                <div class="Left">
                    <ul class="SortTool">
                        <li style=" background-color: #3399FF; color: white !important;">
                            <a style="color:white" href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li style=" cursor: auto;">Lịch sử mua sắm
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>

        <div class="main-content" style="padding: 60px 20px 20px 20px; min-height: 700px;">
            <div>
                <div class="ProductNameDetail" style="text-align:center">Lịch sử mua sắm 30 ngày gần nhất.</div>
                
                <table class="table table-bordered table-hover" style="background-color:white">
                    <thead>
                        <tr class="bg-header">
                            <th style="text-align:center">Ngày mua</th>
                            <th style="text-align:center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
            
                            <tr>
                                <td>
                                    @{
                            var historyID = item.Id;
                            var buyTime = item.BuyTime;
                            string buytimeFormat = String.Format("{0:dd/MM/yyyy}", buyTime);
            
                                    }
                                    @buytimeFormat
                                </td>

                                <td>
                                    <a href="@Url.Action("BuyingHistoryDetail", "History", new { id = @historyID })">Chi tiết
                                    </a>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("BuyingHistory", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
    </div>
</div>
