@model IEnumerable<SmartB.UI.Models.ProductMostBuy>
    <link href="@Url.Content("~/Content/Order.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/utils/productUtils.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>

<script>
    $(document).ready(function () {
        var table = $('#ProductTable').dataTable();
        if ($("#order-total").load("../Cart/ViewCart #order-total-detail").text() != "") {
            $("#order-summary").show();
        }

        //if ($("#order-total").load("../Cart/ViewCart #order-total-detail").text() == "") {
        //    $("#order-summary").hide();
        //} 
    });
    </script>
@if (Model != null)
{
    <h4 class="ProductNameDetail">Sản phẩm ưa thích</h4>
    <table class="table table-bordered table-hover" >
        <thead>
            <tr style="background-color: white;">
                <th style="width: 50%">Tên sản phẩm</th>
                <th style="width: 15%">Giá sản phẩm</th>
                <th style="width: 35%">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SmartB.UI.Models.EntityFramework.SmartBuyEntities db = new SmartB.UI.Models.EntityFramework.SmartBuyEntities();
                var productId = item.Product.Id;
                SmartB.UI.Models.EntityFramework.ProductAttribute proAtt = (from p in db.ProductAttributes
                                                                            where p.ProductId == productId
                                                                            group p by p.ProductId into grp
                                                                            select grp.OrderByDescending(o => o.LastUpdatedTime).FirstOrDefault()).FirstOrDefault();
                <tr >
                    <td id="addProduct_@item.Product.Id">@Html.DisplayFor(modelItem => item.Product.Name)
                        @{                
                var productName = item.Product.Name;
                        }

                    </td>

                    <td>@proAtt.MinPrice - @proAtt.MaxPrice
                        @{
                var minPrice = proAtt.MinPrice;
                var maxPrice = proAtt.MaxPrice;
                        }
                    </td>
                    <td>
                        <div>
                            <div class="AddToCardDetail">
                                <input type="button" name="action" value="Add" onclick="addToCart('@productId')" class="btnAddToCardDetail" data-id ="" />
                                <div style="color: black">Thêm vào giỏ</div>
                            </div>
                            <div class="SuggestPrice">
                                <input type="button" name="action" value="Add" class="btnSuggestPrice" data-id ="@productId" />
                                <div style="color: black">Đề xuất giá</div>
                            </div>
                        </div>

                        <script>

                            $(".SuggestPrice").on("click", function (e) { // e.preventDefault(); use this or return false
                                $.Dialog({
                                    overlay: true,
                                    shadow: true,
                                    flat: true,
                                    width: 442,
                                    icon: '<i class="btnSuggestPrice"></i>',
                                    title: 'Đề xuất giá',
                                    content: '',
                                    padding: 10,
                                    onShow: function (_dialog) {
                                        var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                        $.Dialog.content(content);
                                        $.Metro.initInputs();
                                    }
                                });
                                return true;
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}