@model PagedList.IPagedList<SmartB.UI.Models.EntityFramework.ProductAttribute>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SearchProduct";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("SearchProduct", "Product", FormMethod.Get))
{    
    <h3>Tìm kiếm theo tên sản phẩm</h3>
    <form>
        <div class="input-control text">
            @*<input type="text" />*@
            @Html.TextBox("q", ViewBag.CurrentFilter as string)
            <button class="btn-search"></button>
        </div>
    </form>
}

@if (Model != null)
{
    <h3>Kết quả tìm kiếm</h3>
    <table class="table bordered hovered">
        <thead>
            <tr>                
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm (nghìn đồng)</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)
                        @{
                var productId = item.ProductId;
                var productName = item.Product.Name;
                        }

                    </td>

                    <td>@Html.DisplayFor(modelItem => item.MinPrice) - @Html.DisplayFor(modelItem => item.MaxPrice)
                        @{
                var minPrice = item.MinPrice;
                var maxPrice = item.MaxPrice;
                        }
                    </td>
                    <td>
                        <button onclick="addToCart('@productId')">
                            <i class="icon-plus-2 on-left"></i>
                            Thêm
                        </button>
                        <button class="editDialog">
                            <i class="icon-dollar-2 on-left"></i>
                            Đề xuất giá                                
                        </button>
                        <script>                           

                                $(".editDialog").on("click", function (e) { // e.preventDefault(); use this or return false
                                    $.Dialog({
                                        overlay: true,
                                        shadow: true,
                                        flat: true,
                                        icon: '<i class="icon-dollar-2 on-left"></i>',
                                        title: 'Đề xuất giá',
                                        content: '',
                                        padding: 10,                                        
                                        onShow: function (_dialog) {
                                            var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                            $.Dialog.content(content); 
                                            $.Metro.initInputs();
                                        }
                                    });
                                    return true;
                                });

                            
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
    <div> @Html.PagedListPager(Model, page=>Url.Action("SearchProduct", new {currentFilter = ViewBag.CurrentFilter, page}), PagedListRenderOptions.OnlyShowFivePagesAtATime) </div>
}

else
{
    @Html.Action("ProductMostBuy")
}