@*@model PagedList.IPagedList<SmartB.UI.Areas.Admin.Models.ProductInfo>
@using PagedList.Mvc;*@
@model List<SmartB.UI.Areas.Admin.Models.ProductInfo>
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section head
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/utils/productUtils.js")"></script>

    <!-- Metro -->
    <link rel="stylesheet" href="@Url.Content("~/Template/Metro/css/metro-bootstrap.css")" />
    <script src="@Url.Content("~/Template/Metro/js/jquery/jquery.widget.min.js")"></script>
    <script src="@Url.Content("~/Template/Metro/js/metro/metro.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Metro/css/jquery.dataTables.css")">
    <script type="text/javascript" src="@Url.Content("~/Metro/js/jquery/jquery.dataTables.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Metro/css/jquery.dataTables_themeroller.css")">
    <link href="@Url.Content("~/Content/Order.css")" rel="stylesheet" type="text/css" />
}
<script>
    $(document).ready(function () {
        var table = $('#ProductTable').dataTable();
        if ($("#order-total").load("../Cart/ViewCart #order-total-detail").text() != "") {
            $("#order-summary").show();
        }
    });
</script>
<div class="bgSizeCover">
    <div id="Contain" class="bgContainCover">
        <div class="ProductDetail">
            <div class="Tools">
                <div class="Left">
                    <ul class="SortTool">
                        <li style="cursor: auto; background-color: #3399FF; color: white !important;">
                            <a style="color:white" href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li style="cursor: auto;">Tìm kiếm sản phẩm
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="main-content" style="padding: 40px 20px 20px; min-height: 560px;">
            <div style="min-height: 700px; font-size: 11px; padding: 0px;">
                <div style="float:left">
                @using (Html.BeginForm("SearchProduct", "Product", FormMethod.Get, new { role = "search", style = "margin:2px;float:left" }))
                {
                    <div class="metro">
                        <div class="input-control text size5" style="margin: 0px">
                            @Html.TextBox("q", ViewBag.CurrentFilter as string, new { id = "q", type = "text", placeholder = "Tên sản phẩm" })
                            <button type="submit" class="btn-search"></button>
                        </div>
                    </div>
                }
                     <br /><br />
                <div class="ProductNameDetail">Kết quả tìm kiếm</div>
                 </div>
               

                @if (Model != null)
                {
                   <div style="text-align: left; float: right;width:35%">
                        <div style="font-weight: bold;float:right;margin-left: 10px; ">*Đơn vị tính Nghìn đồng.</div>
                        <div style="background-color: rgba(0, 214, 255, 0.23);width: 50%; float: right">
                            <img src="@Url.Content("~/Images/InfoPrice.png")"/>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" id="ProductTable">
                        <thead class="bg-header">
                            <tr>
                                <th style="width: 40%;text-align:center">Tên sản phẩm</th>
                                <th style="width: 20%;text-align:center">Giá sản phẩm</th>
                                <th style="width: 40%;text-align:center">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if ((DateTime.Now - item.LastUpdatedTime).TotalDays >= 14)
                                {
                                <tr class="redWeek">
                                    <td style="padding: 3px 10px;color:white"  id="addProduct_@item.ProductId">@Html.DisplayFor(modelItem => item.Name)
                                        @{
                                    var productId = item.ProductId;
                                    var productName = item.Name;
                                        }

                                    </td>

                                    <td style="padding: 3px 10px;color:white;text-align:center">@Html.DisplayFor(modelItem => item.MinPrice) - @Html.DisplayFor(modelItem => item.MaxPrice)
                                        @{
                                    var minPrice = item.MinPrice;
                                    var maxPrice = item.MaxPrice;
                                        }
                                    </td>
                                    <td style="padding: 3px 10px;">
                                        <div>
                                            <div class="AddToCardDetail">
                                                <input type="button" name="action" value="Add" onclick="addToCart('@productId    ')" class="btnAddToCardDetail" data-id ="" />
                                                <div style="color: black">Thêm vào giỏ</div>
                                            </div>
                                            <div class="SuggestPrice">
                                                <input type="button" name="action" value="Add" class="btnSuggestPrice" data-id ="@productId" />
                                                <div style="color: black">Đề xuất giá</div>
                                            </div>
                                        </div>
                                        <script>

                                            $(".SuggestPrice").on("click", function (e) { // e.preventDefault(); use this or return false
                                                $.Dialog({
                                                    overlay: true,
                                                    shadow: true,
                                                    flat: true,
                                                    width: 442,
                                                    icon: '<i class="btnSuggestPrice"></i>',
                                                    title: 'Đề xuất giá',
                                                    content: '',
                                                    padding: 10,
                                                    onShow: function (_dialog) {
                                                        var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                                        $.Dialog.content(content);
                                                        $.Metro.initInputs();
                                                    }
                                                });
                                                return true;
                                            });
                                        </script>
                                    </td>
                                </tr>
                                }
                                else if ((DateTime.Now - item.LastUpdatedTime).TotalDays >= 7)
                                {
                                <tr class="yellowWeek">
                                    <td style="padding: 3px 10px;"  id="addProduct_@item.ProductId">@Html.DisplayFor(modelItem => item.Name)
                                        @{
                                    var productId = item.ProductId;
                                    var productName = item.Name;
                                        }

                                    </td>

                                    <td style="padding: 3px 10px;text-align:center">@Html.DisplayFor(modelItem => item.MinPrice) - @Html.DisplayFor(modelItem => item.MaxPrice)
                                        @{
                                    var minPrice = item.MinPrice;
                                    var maxPrice = item.MaxPrice;
                                        }
                                    </td>
                                    <td style="padding: 3px 10px;">
                                        <div>
                                            <div class="AddToCardDetail">
                                                <input type="button" name="action" value="Add" onclick="addToCart('@productId    ')" class="btnAddToCardDetail" data-id ="" />
                                                <div style="color: black">Thêm vào giỏ</div>
                                            </div>
                                            <div class="SuggestPrice">
                                                <input type="button" name="action" value="Add" class="btnSuggestPrice" data-id ="@productId" />
                                                <div style="color: black">Đề xuất giá</div>
                                            </div>
                                        </div>
                                        <script>

                                            $(".SuggestPrice").on("click", function (e) { // e.preventDefault(); use this or return false
                                                $.Dialog({
                                                    overlay: true,
                                                    shadow: true,
                                                    flat: true,
                                                    width: 442,
                                                    icon: '<i class="btnSuggestPrice"></i>',
                                                    title: 'Đề xuất giá',
                                                    content: '',
                                                    padding: 10,
                                                    onShow: function (_dialog) {
                                                        var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                                        $.Dialog.content(content);
                                                        $.Metro.initInputs();
                                                    }
                                                });
                                                return true;
                                            });
                                        </script>
                                    </td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td style="padding: 3px 10px;"  id="addProduct_@item.ProductId">@Html.DisplayFor(modelItem => item.Name)
                                        @{
                                    var productId = item.ProductId;
                                    var productName = item.Name;
                                        }

                                    </td>
                                    <td style="padding: 3px 10px;text-align:center">@Html.DisplayFor(modelItem => item.MinPrice) - @Html.DisplayFor(modelItem => item.MaxPrice)
                                        @{
                                    var minPrice = item.MinPrice;
                                    var maxPrice = item.MaxPrice;
                                        }
                                    </td>
                                    <td style="padding: 3px 10px;">
                                        <div>
                                            <div class="AddToCardDetail">
                                                <input type="button" name="action" value="Add" onclick="addToCart('@productId    ')" class="btnAddToCardDetail" data-id ="" />
                                                <div style="color: black">Thêm vào giỏ</div>
                                            </div>
                                            <div class="SuggestPrice">
                                                <input type="button" name="action" value="Add" class="btnSuggestPrice" data-id ="@productId" />
                                                <div style="color: black">Đề xuất giá</div>
                                            </div>
                                        </div>
                                        <script>

                                            $(".SuggestPrice").on("click", function (e) { // e.preventDefault(); use this or return false
                                                $.Dialog({
                                                    overlay: true,
                                                    shadow: true,
                                                    flat: true,
                                                    width: 442,
                                                    icon: '<i class="btnSuggestPrice"></i>',
                                                    title: 'Đề xuất giá',
                                                    content: '',
                                                    padding: 10,
                                                    onShow: function (_dialog) {
                                                        var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                                        $.Dialog.content(content);
                                                        $.Metro.initInputs();
                                                    }
                                                });
                                                return true;
                                            });
                                        </script>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table> 
                }
                else
                {
                    @Html.Action("ProductMostBuy")
                }
            </div>
        </div>
    </div>
</div>
