<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta content="Smart Buy Project" name="description" />
    <meta content="Anh Triet" name="author" />

    <link rel="shortcut icon" href="@Url.Content("~/Template/Stylish/images/favicon.png")" type="image/x-icon" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css" rel="stylesheet" />

    <title>@ViewBag.Title | Smart Buy</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/bootstrap/css/bootstrap-responsive.css")" />

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/font-awesome/css/font-awesome.css")" />

    <!-- Linecons CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/linecons/style.css")" />

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/revolution-slider/css/settings.css")" media="screen" />

    <!-- Quote Rotator CSS-->
    <link rel="stylesheet" href="@Url.Content("~/Template/Stylish/vendors/quote-rotator/css/quoterotator.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Template/Stylish/vendors/quote-rotator/css/animate.css")" />

    <!-- Magnific Popup Plugin CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/magnific-popup/magnific-popup.css")" media="screen" />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/styles/main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/styles/elements.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/styles/custom.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/styles/theme-responsive.css")" />

    <!-- Animations Libraries -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Template/Stylish/vendors/animations/animate.css")" />

    <!-- jquery Libraries -->
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>

    @RenderSection("head", false)
</head>

<body>
    <header>
        <div id="header-container" class="navbar-fixed-top">
            <div class="container">
                <div id="logo" class="animated fadeLeft">
                    <h1>
                        <img src="~/Template/Stylish/images/Logo.png" />
                    </h1>
                </div>

                <nav id="header-navigation" class="animated fadeRight">
                    <ul class="nav nav-pills">
                        <li id="first-nav-pill" class="dropdown">
                            <a href="@Url.Action("Index", "Home")">
                                <div class="nav-icon"><i class="li_bubble"></i></div>
                                <div class="nav-text">Trang chủ</div>
                            </a>
                        </li>

                        <li id="second-nav-pill" class="dropdown">
                            <a href="@Url.Action("SearchProduct", "Product")" class="dropdown-toggle">
                                <div class="nav-icon"><i class="li_search"></i></div>
                                <div class="nav-text">Tìm kiếm</div>
                            </a>
                        </li>

                        <li id="third-nav-pill" class="dropdown">
                            <a href="@Url.Action("ViewCart", "Cart")" class="dropdown-toggle">
                                <div class="nav-icon"><i class="li_vallet"></i></div>
                                <div class="nav-text">Giỏ hàng</div>
                            </a>
                        </li>

                        <li id="fourth-nav-pill" class="dropdown">
                            <a href="@Url.Action("Index", "Report")" class="dropdown-toggle">
                                <div class="nav-icon"><i class="li_news"></i></div>
                                <div class="nav-text">Thống kê</div>
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="fifth-nav-pill" class="dropdown">
                                <a href="@Url.Action("SuggestRoute", "Route")" class="dropdown-toggle">
                                    <div class="nav-icon"><i class="li_bulb"></i></div>
                                    <div class="nav-text">Gợi ý</div>
                                </a>
                            </li>
                        }

                        <li id="sixth-nav-pill" class="dropdown">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("AccountDetails", "Account")">
                                    <div class="nav-icon"><i class="li_user"></i></div>
                                    <div class="nav-text">@User.Identity.Name</div>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="menuitem"></li>
                                    <li role="menuitem"><a href="@Url.Action("AccountDetails", "Account")">Định nghĩa đường đi</a></li>
                                    <li role="menuitem"><a href="@Url.Action("BuyingHistory", "History")">Lịch sử giỏ hàng</a></li>
                                    <li role="menuitem"><a href="@Url.Action("ChangePassword", "Account")">Đổi mật khẩu</a></li>
                                    <li role="menuitem"><a href="@Url.Action("LogOff", "Account")">Đăng xuất</a></li>
                                </ul>
                            }
                            else
                            {
                                <a href="@Url.Action("Login", "Account")" class="dropdown-toggle">
                                    <div class="nav-icon"><i class="li_user"></i></div>
                                    <div class="nav-text">Đăng nhập</div>
                                </a>
                            }
                        </li>
                    </ul>
                </nav>

                <nav id="phone-header-navigation">
                    <div class="phone-menu-container">
                        <div class="phone-menu-toggle clearfix">
                            <div class="phone-menu-left-side">
                                Danh mục
                           
                            </div>
                            <div class="phone-menu-right-side">
                                <i class="icon-align-justify"></i>
                            </div>
                        </div>

                        <ul class="phone-menu-fields unstyled" role="menu">
                            <li role="menuitem"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>

                            <li role="menuitem"><a href="@Url.Action("SearchProduct", "Product")">Tìm kiếm</a></li>

                            <li role="menuitem"><a href="@Url.Action("ViewCart", "Cart")">Giỏ hàng</a></li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li role="menuitem"><a href="@Url.Action("AccountDetails", "Account")">Sửa thông tin cá nhân</a></li>
                            
                                <li role="menuitem"><a href="@Url.Action("BuyingHistory", "History")">Lịch sử mua sắm</a></li>
                            
                                <li role="menuitem"><a href="@Url.Action("DefineRoute", "Route")">Định nghĩa đường đi</a></li>
                            
                                <li role="menuitem"><a href="@Url.Action("LogOff", "Account")">Đăng xuất</a></li>
                            }
                            else
                            {
                                <li role="menuitem"><a href="@Url.Action("Register", "Account")">Đăng ký</a></li>
                                <li role="menuitem"><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    @RenderBody()
    <div class="loader">
        <label style="margin-left:50%;margin-top:50%">Vui Lòng Chờ Trong Giây Lát...</label>
    </div>
    <div id="testimonials" class="page-element" hidden>
        <div class="container">
            <h3>WHAT PEOPLE ARE SAYING</h3>
            <p>The layouts adapts to the Screen Size of whatever device visitors are using. Nulla consequat</p>

            <div id="testimonial-content">
                <ul id="hidden-quotes">
                    <li data-author="Quote&nbsp;Rotator">The animation can be in random or pre-defined in the HTML. Next quote animation will be all in fadeInDown. Optional click to next quote and hover to pause the slideshow.</li>
                    <li data-author="Mark&nbsp;Twain">You will never be happy if you continue to search for what happiness consists of. You will never live if you are looking for the meaning of life.</li>
                    <li data-author="Susan&nbsp;Rice">Progress is the product of human agency. Things get better because we make them better. Things go wrong when we get too comfortable, when we fail to take risks or seize opportunities. </li>
                </ul>

                <div class="quote">
                    <blockquote>
                        <p class="quote-content" />
                    </blockquote>

                    <cite class="quote-author"></cite>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div id="inner-footer">
            <div class="container">
                <div class="row">
                    <div id="footer-left-side" class="span8">
                        <div id="footer-menu">
                            <ul class="nav nav-pills">
                                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                                <li><a class="last" href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                            </ul>
                        </div>

                        <div id="footer-container-info">
                            <div class="row">
                                <div id="address-info" class="span4">
                                    <p><i class="icon-home"></i>1A Quang Trung, P7, Gò Vấp</p>
                                </div>
                                <div class="span2">
                                    <i class="icon-phone"></i>
                                    <p>+84 934902020</p>
                                </div>
                                <div class="span2">
                                    <i class="icon-envelope"></i>
                                    <p>smartbuy@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer-right-side" class="span3">
                        <div id="stay-connected">
                            <p>stay connected</p>
                        </div>

                        <div id="footer-social-icons" class="clearfix">
                            <a href="#" class="facebook-icon social-icon"><i class="icon-facebook"></i></a>
                            <a href="#" class="twitter-icon social-icon"><i class="icon-twitter"></i></a>
                            <a href="#" class="dribble-icon social-icon"><i class="icon-dribbble"></i></a>
                            <a href="#" class="pinterest-icon social-icon"><i class="icon-pinterest"></i></a>
                            <a href="#" class="googleplus-icon social-icon"><i class="icon-google-plus"></i></a>
                            <a href="#" class="tumblr-icon social-icon"><i class="icon-tumblr"></i></a>
                            <a href="#" class="instagram-icon social-icon"><i class="icon-instagram"></i></a>
                            <a href="#" class="rss-icon social-icon"><i class="icon-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="copyright-container" class="container">
            <div class="container">
                <p>&copy;Copyright 2014 SMART BUY. </p>
            </div>
        </div>
    </footer>
    <!-- Order -->
    <div id="order-summary">
        <form action="@Url.Action("ViewCart", "Cart")" method="post" style="float:left">
            <input type="hidden" id="data-order" name="orderStr" />
            <input title="Xem chi tiết đơn hàng" type="submit" id="btn-checkout" class="Left" />
        </form>
        <div id="order-infor" style="float: left; color: black">
            Tổng: <span id="order-total">0</span><br />
            (nghìn đồng)
        </div>
    </div>
    <div id="scroll-up-button">
        <i class="icon-angle-up"></i>
    </div>

    <!-- Bootstrap Libraries -->
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/vendors/bootstrap/js/bootstrap.js")"></script>

    <!-- Masonry Library -->
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/vendors/isotope/jquery.isotope.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/vendors/isotope/imagesloaded.pkgd.min.js")"></script>

    <!-- Revolution Slider jQuery-->
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/vendors/revolution-slider/js/jquery.themepunch.revolution.min.js")"></script>

    <!-- Quote Rotator jQuery-->
    <script src="@Url.Content("~/Template/Stylish/vendors/quote-rotator/js/jquery.quoterotator.min.js")" type="text/javascript"></script>

    <!-- Inview Plugin-->
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/vendors/inview/jquery.inview.js")"></script>

    <!-- Magnific Popup Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/vendors/magnific-popup/jquery.magnific-popup.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/scripts/plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/scripts/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Template/Stylish/scripts/custom.js")"></script>
    <!-- Loading -->
    <script type="text/javascript">
        $(window).load(function () {
            $(".loader").fadeOut("slow");
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
