@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="rev-slider-wrapper">
    <div class="rev-slider">
        <ul class="unstyled">
            <li data-transition="slideup" data-slotamount="1">
                <img src="@Url.Content("~/Template/Stylish/images/slide-bg-1.png")" alt="slide background" />
                <div class="caption lfl image-caption" data-x="center" data-y="center" data-hoffset="-300" data-voffset="130" data-speed="700" data-start="1000" data-easing="easeOutBack">
                    <img src="@Url.Content("~/Template/Stylish/images/slide-image-1.png")" alt="slide image" />
                </div>
                <div class="caption lfr black-medium" data-x="center" data-y="center" data-hoffset="160" data-voffset="100" data-speed="700" data-start="1700" data-easing="easeOutBack">Hope to Enjoy</div>
                <div class="caption lfr orange-big" data-x="center" data-y="center" data-hoffset="280" data-voffset="190" data-speed="700" data-start="1900" data-easing="easeOutBack">Our Creative</div>
                <div class="caption lfr black-small" data-x="center" data-y="center" data-hoffset="437" data-voffset="265" data-speed="500" data-start="2100" data-easing="easeOutBack">Ideas & Concepts</div>
            </li>

            <li data-transition="slideright" data-slotamount="1">
                <img src="@Url.Content("~/Template/Stylish/images/slide-bg-2.png")" alt="slider-image" />
                <div class="caption lfr image-caption" data-x="right" data-y="center" data-hoffset="15" data-voffset="310" data-speed="700" data-start="1000" data-easing="easeOutBack">
                    <img src="@Url.Content("~/Template/Stylish/images/slide-image-2.png")" alt="slide image" />
                </div>
                <div class="caption lft image-caption" data-x="right" data-y="center" data-hoffset="115" data-voffset="200" data-speed="700" data-start="1700" data-easing="easeOutBounce">
                    <img src="@Url.Content("~/Template/Stylish/images/slide-image-3.png")" alt="slide image" />
                </div>
                <div class="caption lfl black-medium" data-x="left" data-y="center" data-hoffset="-120" data-voffset="100" data-speed="700" data-start="2500" data-easing="easeOutBack">Responsive &</div>
                <div class="caption lfl green-big" data-x="left" data-y="center" data-hoffset="-122" data-voffset="170" data-speed="700" data-start="2700" data-easing="easeOutBack">Retina Display</div>
                <div class="caption lfl black-small" data-x="left" data-y="center" data-hoffset="137" data-voffset="240" data-speed="500" data-start="2900" data-easing="easeOutBack">Design Concept</div>
            </li>

            <li data-transition="slideleft" data-slotamount="1">
                <img src="@Url.Content("~/Template/Stylish/images/slide-bg-3.png")" alt="slider-image" />
                <div class="caption lft image-caption" data-x="left" data-y="center" data-hoffset="-115" data-voffset="200" data-speed="700" data-start="1000" data-easing="easeOutBack">
                    <img src="@Url.Content("~/Template/Stylish/images/slide-image-4.png")" alt="slide image" />
                </div>
                <div class="caption lfr black-medium" data-x="right" data-y="center" data-hoffset="-205" data-voffset="100" data-speed="700" data-start="1700" data-easing="easeOutBack">Metro Inspired</div>
                <div class="caption lfr violet-big" data-x="right" data-y="center" data-hoffset="123" data-voffset="180" data-speed="700" data-start="1900" data-easing="easeOutBack">Theme Design</div>
                <div class="caption lfr black-small" data-x="right" data-y="center" data-hoffset="116" data-voffset="260" data-speed="500" data-start="2100" data-easing="easeOutBack">Ideas & Concepts</div>
            </li>

            <li data-transition="slidedown" data-slotamount="1">
                <img src="@Url.Content("~/Template/Stylish/images/slide-bg-4.png")" alt="slider-image" />
                <div class="caption lfb video-caption" data-x="right" data-y="center" data-hoffset="120" data-voffset="230" data-speed="700" data-start="1000" data-easing="easeOutBack">
                    <img src="@Url.Content("~/Template/Stylish/images/slide-image-5.png")" alt="slider-image" />
                    <iframe src="http://player.vimeo.com/video/29298709?title=0&amp;byline=0&amp;portrait=0;api=1" width="384" height="240"></iframe>
                </div>
                <div class="caption lfl black-medium" data-x="left" data-y="center" data-hoffset="-120" data-voffset="100" data-speed="700" data-start="2500" data-easing="easeOutBack">Revolution</div>
                <div class="caption lfl blue-big" data-x="left" data-y="center" data-hoffset="-116" data-voffset="180" data-speed="700" data-start="2700" data-easing="easeOutBack">Video Slide</div>
                <div class="caption lfl black-small" data-x="left" data-y="center" data-hoffset="142" data-voffset="260" data-speed="500" data-start="2900" data-easing="easeOutBack">Ideas & Concepts</div>
            </li>
        </ul>
    </div>
</div>

<div class="page-element">
    <div class="container">
        <div class="service-boxes-wrapper clearfix">
            <div class="service-box-container fadeDown">
                <div class="service-box service-box-1 clearfix">
                    <div class="service-box-front">
                        <i class="icon-umbrella"></i>

                        <div class="service-title">
                            <p>seo optimizing</p>
                        </div>

                        <div class="service-content">
                            <p>
                                Cras auctor vel dui sed rhoncus.<br />
                                Sed urna ut purus vulputate ultricies.<br />
                                Quisque congue volutpat lorem
                            </p>
                        </div>
                    </div>

                    <div class="service-box-back">
                        <a href="#"></a>
                    </div>
                </div>
            </div>

            <div class="service-box-container fadeDown">
                <div class="service-box service-box-2">
                    <div class="service-box-front">
                        <i class="icon-trophy"></i>

                        <div class="service-title">
                            <p>software support</p>
                        </div>

                        <div class="service-content">
                            <p>
                                Cras auctor vel dui sed rhoncus.<br />
                                Sed urna ut purus vulputate ultricies.<br />
                                Quisque congue volutpat lorem
                            </p>
                        </div>
                    </div>

                    <div class="service-box-back">
                        <a href="#"></a>
                    </div>
                </div>
            </div>

            <div class="service-box-container fadeDown">
                <div class="service-box service-box-3">
                    <div class="service-box-front">
                        <i class="icon-globe"></i>

                        <div class="service-title">
                            <p>concept design</p>
                        </div>

                        <div class="service-content">
                            <p>
                                Cras auctor vel dui sed rhoncus.<br />
                                Sed urna ut purus vulputate ultricies.<br />
                                Quisque congue volutpat lorem
                            </p>
                        </div>
                    </div>

                    <div class="service-box-back">
                        <a href="#"></a>
                    </div>
                </div>
            </div>

            <div class="service-box-container fadeDown">
                <div class="service-box service-box-4">
                    <div class="service-box-front">
                        <i class="icon-android"></i>

                        <div class="service-title">
                            <p>user management</p>
                        </div>

                        <div class="service-content">
                            <p>
                                Cras auctor vel dui sed rhoncus.<br />
                                Sed urna ut purus vulputate ultricies.<br />
                                Quisque congue volutpat lorem
                            </p>
                        </div>
                    </div>

                    <div class="service-box-back">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-element gray-element custom-list">
    <div class="container fadeDown">
        <div class="row">
            <div class="span4">
                <ul class="list unstyled">
                    <li><i class="icon-beaker"></i>
                        <p>Awesome Design Concept</p>
                    </li>
                </ul>

                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus,
                        molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi.
                        Proin viverra leo ut odio.
                   
                </p>
            </div>



            <div class="span4">
                <ul class="list unstyled">
                    <li><i class="icon-tablet"></i>
                        <p>Responsive & Retina Ready</p>
                    </li>
                </ul>

                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus,
                        molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi.
                        Proin viverra leo ut odio.
                   
                </p>
            </div>



            <div class="span4">
                <ul class="list unstyled">
                    <li><i class="icon-trophy"></i>
                        <p>Font Awesome Included</p>
                    </li>
                </ul>

                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus,
                        molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi.
                        Proin viverra leo ut odio.
                   
                </p>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="span4">
                <ul class="list unstyled">
                    <li><i class="icon-calendar-empty"></i>
                        <p>Powerful Documentation</p>
                    </li>
                </ul>

                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus,
                        molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi.
                        Proin viverra leo ut odio.
                   
                </p>
            </div>

            <div class="span4">
                <ul class="list unstyled">
                    <li><i class="icon-heart-empty"></i>
                        <p>Dedicated Support</p>
                    </li>
                </ul>

                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus,
                        molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi.
                        Proin viverra leo ut odio.
                   
                </p>
            </div>

            <div class="span4">
                <ul class="list unstyled">
                    <li><i class="icon-gift"></i>
                        <p>Carefully Crafted Code</p>
                    </li>
                </ul>

                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus,
                        molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi.
                        Proin viverra leo ut odio.
                   
                </p>
            </div>
        </div>
    </div>
</div>

<div class="page-element">
    <div class="container">
        <div class="title-center">
            <h3>THIS IS TRULY AWESOME</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae mi sem. In id justo eu lectus pharetra convallis.
                   
                    <br />
                In hac habitasse platea dictumst. Etiam est ipsum, tincidunt at risus eu, pharetra viverra diam.
               
            </p>
        </div>

        <div class="element-image-center fadeDown">
            <img src="@Url.Content("~/Template/Stylish/images/browser1.png")" alt="browser-image" />
        </div>
    </div>
</div>

<div class="page-element gray-element">
    <div class="container">
        <div class="title-center">
            <h3>OUR AWESOME BRANDS</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae mi sem. In id justo eu lectus pharetra convallis.
                   
                    <br />
                In hac habitasse platea dictumst. Etiam est ipsum, tincidunt at risus eu, pharetra viverra diam.
               
            </p>
        </div>

        <div class="brands-wrapper">
            <div class="row  fadeDown">
                <div class="span3">
                    <h4>Lorem Ipsum Dolor</h4>
                    <br />
                    <p>Roin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh. Fusce convallis sapien placerat tellus suscipit vehicula. Cras vitae diam ut justo elementum faucibus eget a diam. Etiam sodales a sem vitae fermentum. Lorem ipsum dolor sit amet.</p>
                    <a href="#">View All >> </a>
                </div>
                <div class="span3">
                    <div class="thumbnail brand-image">
                        <img src="@Url.Content("~/Template/Stylish/images/brand03.png")" alt="brand-image" />
                    </div>
                </div>
                <div class="span3">
                    <div class="thumbnail brand-image">
                        <img src="@Url.Content("~/Template/Stylish/images/brand01.png")" alt="brand-image" />
                    </div>
                </div>
                <div class="span3">
                    <div class="thumbnail brand-image">
                        <img src="@Url.Content("~/Template/Stylish/images/brand02.png")" alt="brand-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-element">
    <div class="container">
        <div class="latest-posts fadeDown">
            <h4>Latest Posts</h4>
            <div class="posts">
                <div class="row">
                    <div class="span6">
                        <div class="post">
                            <div class="row">
                                <div class="span3 latest-post-media">
                                    <div class="thumbnail post-media">
                                        <img src="@Url.Content("~/Template/Stylish/images/blog-thumbnail02.png")" alt="post image" />

                                        <div class="thumbnail-hover">
                                            <a href="@Url.Content("~/Template/Stylish/images/pop-up.png")"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="span3 latest-post-content">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h3><i class="icon-camera post-title-icon"></i>Never Give Up</h3>
                                        </div>

                                        <div class="post-info clearfix">
                                            <div class="post-date">
                                                <i class="icon-calendar"></i>
                                                <p>Nov 10, 2012</p>
                                            </div>

                                            <div class="post-category">
                                                <i class="icon-pencil"></i>
                                                <a href="#">Design</a>
                                            </div>

                                            <div class="post-comments">
                                                <i class="icon-comments"></i>
                                                <a href="#">(3)</a>
                                            </div>
                                        </div>

                                        <div style="clear: both"></div>

                                        <div class="post-excerpt">
                                            <p>
                                                Donec magna nunc, vestibulum
                                                    at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                                               
                                            </p>
                                        </div>

                                        <div class="stylish-button">
                                            <a href="#">read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span6 latest-post">
                        <div class="post">
                            <div class="row">
                                <div class="span3 latest-post-media">
                                    <div class="thumbnail post-media">
                                        <img src="@Url.Content("~/Template/Stylish/images/blog-thumbnail03.png")" alt="post image" />

                                        <div class="thumbnail-hover">
                                            <a href="@Url.Content("~/Template/Stylish/images/pop-up.png")"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="span3 latest-post-content">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h3><i class="icon-camera post-title-icon"></i>Perfect Business</h3>
                                        </div>

                                        <div class="post-info clearfix">
                                            <div class="post-date">
                                                <i class="icon-calendar"></i>
                                                <p>Nov 10, 2012</p>
                                            </div>

                                            <div class="post-category">
                                                <i class="icon-pencil"></i>
                                                <a href="#">Design</a>
                                            </div>

                                            <div class="post-comments">
                                                <i class="icon-comments"></i>
                                                <a href="#">(3)</a>
                                            </div>
                                        </div>

                                        <div style="clear: both"></div>

                                        <div class="post-excerpt">
                                            <p>
                                                Donec magna nunc, vestibulum
                                                    at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                                               
                                            </p>
                                        </div>

                                        <div class="stylish-button">
                                            <a href="#">read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span6 latest-post">
                        <div class="post">
                            <div class="row">
                                <div class="span3">
                                    <div class="thumbnail post-media">
                                        <img src="@Url.Content("~/Template/Stylish/images/blog-thumbnail.png")" alt="post image" />

                                        <div class="thumbnail-hover">
                                            <a href="@Url.Content("~/Template/Stylish/images/pop-up.png")"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h3><i class="icon-camera post-title-icon"></i>Emotional State</h3>
                                        </div>

                                        <div class="post-info clearfix">
                                            <div class="post-date">
                                                <i class="icon-calendar"></i>
                                                <p>Nov 10, 2012</p>
                                            </div>

                                            <div class="post-category">
                                                <i class="icon-pencil"></i>
                                                <a href="#">Design</a>
                                            </div>

                                            <div class="post-comments">
                                                <i class="icon-comments"></i>
                                                <a href="#">(3)</a>
                                            </div>
                                        </div>

                                        <div style="clear: both"></div>

                                        <div class="post-excerpt">
                                            <p>
                                                Donec magna nunc, vestibulum
                                                    at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                                               
                                            </p>
                                        </div>

                                        <div class="stylish-button">
                                            <a href="#">read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
